@import "common.less";

.navbar {
	background: @blue;
}

.shoppingCart {
	.sc-header {
		padding: 15px 0 15px 0;
		background: lightblue;
		overflow: hidden;
		li {
			float: left;
			width: 15%;
		}
	}
	.item {
		padding: 15px 0 15px 0;
		ul {
			li {
				float: left;
				width: 15%;
			}
		}
	}
}