@import './common.less';

.HOME {
	.banner {
		width: 100%; height: 1.12rem;
		background: #1e2837;
	}
	.navbar {
		width: 100%; height: 1rem;
		background: #0075c4;
		overflow: hidden;
		a {
			float: left;
		}
		.toSignin {
			position: relative;
			width: 0.77rem; height: 100%;
			img {
				position: absolute; left: 0; top: 0; right: 0; bottom: 0;
				margin: auto;
			}
		}
	}
	.searchbar {
		width: 100%; height: 1rem;
	}
	.showcase {
		width: 100%;
		border-bottom: 1px solid #e5e4e4;
		overflow: hidden;
		li {
			float: left;
			width: 25%; height: 2rem;
			p {
				font-size: 0.3rem; text-align: center; color: #777;
			}
		}
	}
}