@import './common.less';

.MEMBER {
	width:7.2rem;height:12.80rem;background:#EFEFEF;
	.header {position:relative;height:3.60rem;background:#66CC66;margin-bottom:0.20rem;overflow:hidden;}
	.outerRound {position:relative;width:1.80rem;height:1.80rem;border-radius:50%;background:#A1D8A1;margin:auto;margin-top:0.60rem;}
	.innerRound {position:absolute;left:0.20rem;top:0.20rem;width:1.40rem;height:1.40rem;border-radius:50%;background:white;}
	.account {position:relative;height:0.30rem;margin:auto;color:white;font-size:0.2rem;text-align:center;margin-top:0.40rem;}

	.box1 {position:relative;background:white;overflow:hidden;margin-bottom:0.20rem;}
	.box a:link {position:relative;width:6.40rem;height:0.60rem;border-bottom:0.01rem solid grey;margin-left:0.30rem;display:block;color:black;}
	.box a:visited {color:black;}
	.box .icon {width:0.2rem;float:left;margin:0.2rem 0.2rem 0 0.2rem;}
	.box a p {float:left;margin-top:0.15rem;font-size:0.2rem;}
	.box .arrow {float:right;width:0.19rem;margin:0.1rem 0.2rem 0 0;}
	.box .tip {position:absolute;left:4rem;bottom:0.18rem;font-size:0.2rem;color:#FFB340;}
	.box2 {position:relative;height:2.43rem;background:white;overflow:hidden;margin-bottom:0.20rem;}

	.logout {
		width: 6.80rem;
		height: 0.80rem;
		border-radius: 0.10rem;
		background: @green-dark;
		text-align: center;
		line-height: 0.80rem;
		color: white;
		font-size: 0.32rem;
		margin: 0.20rem 0px 0px 0.20rem;
		display: block
	}
}

