.main {height:12.80rem;background:#EFEFEF;}

.tabs {position:relative;width:7.20rem;height:.70rem;background:white;overflow:hidden;margin-bottom:.20rem;}
.tabs>ul {position:absolute;bottom:0;}
.tabs>ul>li {width:1.78rem;height:0.40rem;float:left;text-align:center;font-size:0.2rem;color:grey;cursor:pointer}
.tabs .selected {border-bottom:0.01rem solid #66CC66;color:#66CC66;}
.barred:before {content:"";display:block;position:absolute;width:1px;height:0.30rem;background:grey;top:0px;}

.box1 {position:relative;padding:.2rem .3rem .2rem .3rem;background:white;margin-bottom:20px;overflow:hidden;}
.box1 .thumbnail {float:left;width:1.9rem;height:1.90rem;background:#66CC66}
.thumbnail img {width:100%;}
.right {float:right;width:4.6rem;}
.name {font-size:0.2rem;}
.price {float:right;}
.quantity {float:right;}

.insurance {position:relative;padding:.2rem .3rem .2rem .3rem;background:white;margin-bottom:0.2rem;overflow:hidden;}
.insurance p {font-size:0.2rem;}
.insuranceService {}
.insuranceFee {float:right}
.insuranceQuantity {float:right}

.conclusion {position:relative;padding:.2rem .3rem .2rem .3rem;background:white;border-bottom:1px solid grey;overflow:hidden;}
.conclusion p {float:right;font-size:0.2rem;}

.decision {position:relative;padding:.2rem .3rem .2rem .3rem;background:white;overflow:hidden;}
.more {float:left;font-size:0.2rem;}
.decision>ul {float:right;}
.decision>ul>li {width:1.40rem;height:.40rem;border-radius:.05rem;border:1px solid black;float:left;text-align:center;line-height:.40rem;font-size:0.2rem;margin-left:.20rem;cursor:pointer}
.decision>ul>li:last-child {color:#66CC66;border:1px solid #66CC66;}