.main {height:12.80rem;background:#EFEFEF;}

.grass {position:relative;width:7.20rem;height:3.02rem;background:url(../images/grass2.png);}
.grass p {width:3rem;height:1.80rem;line-height:1.80rem;text-align:center;color:white;margin:0 auto;font-size:0.32rem;}
.spacer {position:relative;width:7.20rem;height:3.62rem;background:#EFEFEF;}
.outer-circle {position:absolute;left:1.625rem;top:2.30rem;width:3.95rem;height:3.95rem;background:#EFEFEF;border-radius:1.975rem;}
.circle {position:absolute;left:0.645rem;top:0.40rem;width:2.66rem;height:2.66rem;background:#5EA626;border-radius:1.33rem;}
.word {position:absolute;top:3.20rem;width:3.95rem;text-align:center;font-size:0.48rem;}

.input {width:7.20rem;height:1.15rem;font-size:0.32rem;border:none;text-indent:0.20rem;font-family:Î¢ÈíÑÅºÚ;}
.confirm {width:6.80rem;height:0.80rem;border-radius:0.10rem;background:#5EA626;text-align:center;line-height:0.80rem;color:white;font-size:0.32rem;margin:0.18rem 0.20rem 2rem 0.20rem;}
.words {width:7.20rem;text-align:center;font-size:0.32rem;color:#999999;}
.words span {margin:0 0.3rem 0 0.3rem;}
.words a:visited {color:#9D9D9D}