* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* :focus {
  outline: none;
}
html {
  font-size: 100px;
  font-family: 'Microsoft Yahei';
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
img {
  display: block;
}
a:link {
  color: ;
  text-decoration: none;
}
/* Utility Classes */
.container {
  background: orange;
  overflow: hidden;
  display: none;
}
.clearfix {
  clear: both;
}
/* Media Queries */
@media (-webkit-min-device-pixel-ratio: 2) {
}
.wrapper {
  width: 7.2rem;
}
.HOME .banner {
  width: 100%;
  height: 1.12rem;
  background: #1e2837;
}
.HOME .navbar {
  width: 100%;
  height: 1rem;
  background: #0075c4;
  overflow: hidden;
}
.HOME .navbar a {
  float: left;
}
.HOME .navbar .toSignin {
  position: relative;
  width: 0.77rem;
  height: 100%;
}
.HOME .navbar .toSignin img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.HOME .searchbar {
  width: 100%;
  height: 1rem;
}
.HOME .showcase {
  width: 100%;
  border-bottom: 1px solid #e5e4e4;
  overflow: hidden;
}
.HOME .showcase li {
  float: left;
  width: 25%;
  height: 2rem;
}
.HOME .showcase li p {
  font-size: 0.3rem;
  text-align: center;
  color: #777;
}
