@-webkit-keyframes dash {
  50% {
    -webkit-transform: scale(1.8) rotate(-15deg);
            transform: scale(1.8) rotate(-15deg);
  }
  60% {
    -webkit-transform: scale(1.8) rotate(15deg);
            transform: scale(1.8) rotate(15deg);
  }
  70% {
    -webkit-transform: scale(1.8) rotate(-15deg);
            transform: scale(1.8) rotate(-15deg);
  }
  80% {
    -webkit-transform: scale(1.8) rotate(15deg);
            transform: scale(1.8) rotate(15deg);
  }
  90% {
    -webkit-transform: scale(1.8) rotate(-15deg);
            transform: scale(1.8) rotate(-15deg);
  }
  100% {
    -webkit-transform: scale(1.8) rotate(0);
            transform: scale(1.8) rotate(0);
  }
}
@keyframes dash {
  50% {
    -webkit-transform: scale(1.8) rotate(-15deg);
            transform: scale(1.8) rotate(-15deg);
  }
  60% {
    -webkit-transform: scale(1.8) rotate(15deg);
            transform: scale(1.8) rotate(15deg);
  }
  70% {
    -webkit-transform: scale(1.8) rotate(-15deg);
            transform: scale(1.8) rotate(-15deg);
  }
  80% {
    -webkit-transform: scale(1.8) rotate(15deg);
            transform: scale(1.8) rotate(15deg);
  }
  90% {
    -webkit-transform: scale(1.8) rotate(-15deg);
            transform: scale(1.8) rotate(-15deg);
  }
  100% {
    -webkit-transform: scale(1.8) rotate(0);
            transform: scale(1.8) rotate(0);
  }
}
@-webkit-keyframes back {
  from {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes back {
  from {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes flap {
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes flap {
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes flap_again {
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes flap_again {
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes to_0 {
  from {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
  }
}
@keyframes to_0 {
  from {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
  }
}
@-webkit-keyframes to_1 {
  from {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
}
@keyframes to_1 {
  from {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
}
@-webkit-keyframes to_2 {
  from {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
}
@keyframes to_2 {
  from {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
}
@-webkit-keyframes to_3 {
  from {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
}
@keyframes to_3 {
  from {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
}
@-webkit-keyframes to_4 {
  from {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
  to {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
}
@keyframes to_4 {
  from {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
  to {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
}
@-webkit-keyframes to_5 {
  from {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
}
@keyframes to_5 {
  from {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
}
@-webkit-keyframes to_6 {
  from {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
}
@keyframes to_6 {
  from {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
}
@-webkit-keyframes _to_0 {
  from {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
  }
}
@keyframes _to_0 {
  from {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(40deg);
  }
}
@-webkit-keyframes _to_1 {
  from {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
}
@keyframes _to_1 {
  from {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
  to {
    -webkit-transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
            transform: translateX(-240px) translateZ(-240px) rotateY(40deg);
  }
}
@-webkit-keyframes _to_2 {
  from {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
  to {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
}
@keyframes _to_2 {
  from {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
  to {
    -webkit-transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
            transform: translateX(-120px) translateZ(-120px) rotateY(40deg);
  }
}
@-webkit-keyframes _to_3 {
  from {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
}
@keyframes _to_3 {
  from {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
  }
}
@-webkit-keyframes _to_4 {
  from {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
}
@keyframes _to_4 {
  from {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
            transform: translateX(120px) translateZ(-120px) rotateY(-40deg);
  }
}
@-webkit-keyframes _to_5 {
  from {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
}
@keyframes _to_5 {
  from {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
            transform: translateX(240px) translateZ(-240px) rotateY(-40deg);
  }
}
@-webkit-keyframes _to_6 {
  from {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
}
@keyframes _to_6 {
  from {
    -webkit-transform: translateX(-360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(-360px) translateZ(-360px) rotateY(-40deg);
  }
  to {
    -webkit-transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
            transform: translateX(360px) translateZ(-360px) rotateY(-40deg);
  }
}
