a:link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
button {
  display: block;
  border: none;
  cursor: pointer;
}
body {
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
[v-cloak] {
  display: none;
}
/**/
.wrapper {
  width: 100%;
  min-width: 1000px;
}
.container {
  width: 1000px;
  margin: auto;
}
.row {
  width: 1000px;
  margin: auto;
}
.clear {
  clear: both;
}
/**/
#main {
  z-index: -1;
}
.banner {
  height: 150px;
  overflow: hidden;
}
.banner > ul > a {
  width: 180px;
  height: 95px;
  display: block;
  border: 1px solid lightgrey;
}
.banner a:visited {
  color: black;
}
.banner .label {
  width: 42px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
  background: #FF5A44;
}
.banner p {
  color: black;
}
.LINE {
  height: 4px;
  background: -webkit-linear-gradient(left, #D2AB1A, #337FAB);
  background: linear-gradient(to right, #D2AB1A, #337FAB);
}
/* searchbar */
.searchbar[_v-69956734] {
  height: 120px;
  background: -webkit-linear-gradient(white, #E5E5E5);
  background: linear-gradient(white, #E5E5E5);
  overflow: hidden;
}
.searchbar .search_box[_v-69956734] {
  width: 600px;
  height: 40px;
  margin: 40px auto 0 auto;
  border-radius: 20px;
  border: 1px solid lightgrey;
  background: white;
  box-shadow: inset 0 2px 5px lightgrey;
}
.searchbar .search_box input[_v-69956734] {
  float: left;
  width: 400px;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  margin: 10px 0 0 40px;
  color: grey;
  border: none;
}
.searchbar .search_box .search_btn[_v-69956734] {
  float: right;
  width: 50px;
  height: 32px;
  margin: 4px 20px 0 0;
  border-radius: 16px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #B2B2B2;
}
.searchbar .search_box .search_btn[_v-69956734]:visited {
  color: #B2B2B2;
}
.searchbar .search_box .search_btn[_v-69956734]:hover {
  background: #ECE9D8;
}
/**/
.shade[_v-69956734] {
  width: 100%;
  min-width: 1000px;
  box-shadow: 0 0 40px 35px grey;
}
/**/
.topbar[_v-69956734] {
  position: relative;
  background: #2378BA;
}
.topbar .container[_v-69956734] {
  padding: 20px 0 20px 0;
  background: #2378BA;
  color: white;
  font-size: 15px;
}
.topbar .container a[_v-69956734]:link {
  color: white;
}
.topbar .container a[_v-69956734]:visited {
  color: white;
}
.topbar .container > p[_v-69956734] {
  float: left;
  margin: 0 0 0 20px;
}
.topbar .container > ul[_v-69956734] {
  float: right;
  margin: 0 20px 0 0;
}
.topbar .container > ul > li[_v-69956734] {
  float: left;
  cursor: pointer;
}
.topbar .container > ul .separator[_v-69956734] {
  float: left;
  margin: 0 10px 0 10px;
}
.topbar .quantityIn[_v-69956734] {
  color: #D2291E;
}
.topbar .my_cart[_v-69956734] {
  position: relative;
}
.topbar .my_cart:hover .cart_panel[_v-69956734] {
  display: block;
}
.topbar .cart_panel[_v-69956734] {
  position: absolute;
  right: 0;
  top: 30px;
  width: 100px;
  padding: 15px;
  color: black;
  background: white;
  border-radius: 4px;
  display: none;
  z-index: 99;
}
.footer .container[_v-abfa2f18] {
  padding: 50px 0 50px 0;
  background: #F2F2F2;
  overflow: hidden;
}
.footer .container a[_v-abfa2f18] {
  margin: 0 0 0 40px;
  font-size: 14px;
  color: #999999;
}
.footer .container a[_v-abfa2f18]:link {
  color: #999999;
  text-decoration: none;
}
.footer .container a[_v-abfa2f18]:visited {
  color: #999999;
}
.footer .container a[_v-abfa2f18]:hover {
  color: #0081BC;
}
.footer .container a[_v-abfa2f18]:active {
  color: #0081BC;
}
.footer .container > li[_v-abfa2f18] {
  float: left;
  width: 200px;
}
.footer .container > li > h4[_v-abfa2f18] {
  margin: 0 0 20px 40px;
  font-size: 14px;
  color: black;
  font-weight: normal;
}
.footer .container > li p[_v-abfa2f18] {
  font-size: 14px;
  color: #999999;
}
.footer .container > li:last-child h4[_v-abfa2f18] {
  margin: 0 0 20px 0;
}
.footer .container .serviceTel[_v-abfa2f18] {
  font-size: 20px;
  color: black;
}
.copyright[_v-abfa2f18] {
  background: #F2F2F2;
  color: grey;
  font-size: 14px;
}
.copyright .container[_v-abfa2f18] {
  padding: 20px 0 20px 0;
  border-top: 1px solid lightgrey;
}
.copyright p[_v-abfa2f18] {
  width: 100%;
  text-align: center;
}
.BACK-TO-TOP[_v-7b4f24f6] {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: lightgrey;
  z-index: 100;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
#SEARCH[_v-29243af1] {
  height: 1000px;
  background: #127BAB;
  overflow: hidden;
}
#SEARCH .center[_v-29243af1] {
  width: 970px;
  background: white;
  padding: 0 15px 0 15px;
  margin-top: 80px;
}
#SEARCH .center .all[_v-29243af1] {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid lightgrey;
  color: grey;
}
#SEARCH .center .all a[_v-29243af1]:link {
  color: black;
}
#SEARCH .center .all a[_v-29243af1]:visited {
  color: black;
}
#SEARCH .center .Row[_v-29243af1] {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid lightgrey;
}
#SEARCH .center .Row .title[_v-29243af1] {
  float: left;
  margin-right: 15px;
  color: grey;
  font-size: 15px;
}
#SEARCH .center .Row a[_v-29243af1]:link {
  color: black;
  margin-right: 15px;
}
#SEARCH .center .Row a[_v-29243af1]:visited {
  color: black;
}
#SEARCH .center .Row a[_v-29243af1]:hover {
  color: maroon;
}
.Showcase[_v-026ba6ba] {
  width: 1000px;
  margin: auto;
  padding: 10px 0;
  background: white;
  overflow: hidden;
}
.Showcase .item__[_v-026ba6ba] {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 240px;
  margin: 5px;
  padding: 5px;
  border: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.Showcase .item__[_v-026ba6ba]:link {
  color: black;
}
.Showcase .item__[_v-026ba6ba]:visited {
  color: black;
}
.Showcase .item__[_v-026ba6ba]:hover {
  border: 3px solid #c40000;
}
.Showcase .item__ .thumb[_v-026ba6ba] {
  width: 224px;
  height: 224px;
}
.Showcase .item__ .price[_v-026ba6ba] {
  font-size: 20px;
  color: #c40000;
}
