.TopbarBlack[_v-9450a536] {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  background: #192332;
}
.TopbarBlack a[_v-9450a536] {
  display: block;
  float: left;
  margin-right: 20px;
  font-size: 14px;
  line-height: 60px;
  color: #c8c8c8;
}
.TopbarBlack a[_v-9450a536]:visited {
  color: #c8c8c8;
}
.TopbarBlack a[_v-9450a536]:hover {
  color: white;
}
.NavbarWeifeng[_v-11360bc7] {
  width: 100%;
  min-width: 1000px;
  background: #3D455F;
}
.NavbarWeifeng .container__[_v-11360bc7] {
  width: 1000px;
  margin: auto;
  background: #3D455F;
}
.NavbarWeifeng .container__ .tabs[_v-11360bc7] {
  padding: 10px 0 10px 0;
  overflow: hidden;
}
.NavbarWeifeng .container__ .tabs li[_v-11360bc7] {
  width: 83px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  float: left;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.NavbarWeifeng .container__ .tabs li[_v-11360bc7]:hover {
  color: #00CCFF;
}
.NavbarWeifeng .container__ .bar-wrapper[_v-11360bc7] {
  position: relative;
  height: 3px;
}
.NavbarWeifeng .container__ .bar[_v-11360bc7] {
  position: absolute;
  left: 0;
  top: 0;
  width: 83px;
  height: 3px;
  background: #00CCFF;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
