<<<<<<< HEAD:time/server/server.search.style.css
a:link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
button {
  display: block;
  border: none;
  cursor: pointer;
}
body {
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
[v-cloak] {
  display: none;
}
/**/
.wrapper {
  width: 100%;
  min-width: 1000px;
}
.container {
  width: 1000px;
  margin: auto;
}
.row {
  width: 1000px;
  margin: auto;
}
.clear {
  clear: both;
}
/**/
#main {
  z-index: -1;
}
.banner {
  height: 150px;
  overflow: hidden;
}
.banner > ul > a {
  width: 180px;
  height: 95px;
  display: block;
  border: 1px solid lightgrey;
}
.banner a:visited {
  color: black;
}
.banner .label {
  width: 42px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
  background: #FF5A44;
}
.banner p {
  color: black;
}
.LINE {
  height: 4px;
  background: -webkit-linear-gradient(left, #D2AB1A, #337FAB);
  background: linear-gradient(to right, #D2AB1A, #337FAB);
}
/* searchbar */
.searchbar[_v-69956734] {
  height: 120px;
  background: -webkit-linear-gradient(white, #E5E5E5);
  background: linear-gradient(white, #E5E5E5);
  overflow: hidden;
}
.searchbar .search_box[_v-69956734] {
  width: 600px;
  height: 40px;
  margin: 40px auto 0 auto;
  border-radius: 20px;
  border: 1px solid lightgrey;
  background: white;
  box-shadow: inset 0 2px 5px lightgrey;
=======
.TopbarBlack[_v-9450a536] {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  background: #192332;
>>>>>>> 60881f51b83c4e8b8500e4dc6fe5dd9ae0c7cd18:time/server/server.style.css
}
.TopbarBlack a[_v-9450a536] {
  display: block;
  float: left;
  margin-right: 20px;
  font-size: 14px;
  line-height: 60px;
  color: #c8c8c8;
}
.TopbarBlack a[_v-9450a536]:visited {
  color: #c8c8c8;
}
.TopbarBlack a[_v-9450a536]:hover {
  color: white;
}
.NavbarWeifeng[_v-11360bc7] {
  width: 100%;
  min-width: 1000px;
  background: #3D455F;
}
.NavbarWeifeng .container__[_v-11360bc7] {
  width: 1000px;
  margin: auto;
  background: #3D455F;
}
.NavbarWeifeng .container__ .tabs[_v-11360bc7] {
  padding: 10px 0 10px 0;
  overflow: hidden;
}
.NavbarWeifeng .container__ .tabs li[_v-11360bc7] {
  width: 83px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  float: left;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.NavbarWeifeng .container__ .tabs li[_v-11360bc7]:hover {
  color: #00CCFF;
}
.NavbarWeifeng .container__ .bar-wrapper[_v-11360bc7] {
  position: relative;
  height: 3px;
}
.NavbarWeifeng .container__ .bar[_v-11360bc7] {
  position: absolute;
  left: 0;
  top: 0;
  width: 83px;
  height: 3px;
  background: #00CCFF;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
#SEARCH[_v-29243af1] {
  height: 1000px;
  background: #127BAB;
  overflow: hidden;
}
#SEARCH .center[_v-29243af1] {
  width: 970px;
  background: white;
  padding: 0 15px 0 15px;
  margin-top: 80px;
}
#SEARCH .center .all[_v-29243af1] {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid lightgrey;
  color: grey;
}
#SEARCH .center .all a[_v-29243af1]:link {
  color: black;
}
#SEARCH .center .all a[_v-29243af1]:visited {
  color: black;
}
#SEARCH .center .Row[_v-29243af1] {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid lightgrey;
}
#SEARCH .center .Row .title[_v-29243af1] {
  float: left;
  margin-right: 15px;
  color: grey;
  font-size: 15px;
}
#SEARCH .center .Row a[_v-29243af1]:link {
  color: black;
  margin-right: 15px;
}
#SEARCH .center .Row a[_v-29243af1]:visited {
  color: black;
}
#SEARCH .center .Row a[_v-29243af1]:hover {
  color: maroon;
}
.Showcase[_v-026ba6ba] {
  width: 1000px;
  margin: auto;
  padding: 10px 0;
  background: white;
  overflow: hidden;
}
.Showcase .item__[_v-026ba6ba] {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 240px;
  margin: 5px;
  padding: 5px;
  border: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.Showcase .item__[_v-026ba6ba]:link {
  color: black;
}
.Showcase .item__[_v-026ba6ba]:visited {
  color: black;
}
.Showcase .item__[_v-026ba6ba]:hover {
  border: 3px solid #c40000;
}
.Showcase .item__ .thumb[_v-026ba6ba] {
  width: 224px;
  height: 224px;
}
.Showcase .item__ .price[_v-026ba6ba] {
  font-size: 20px;
  color: #c40000;
}
