@import (reference) '../common.less';

.SIGN_IN {
	background: @grey-bg;
	//padding-top: 0.15rem;
	.header {
		margin-bottom: .20rem;
		.a-guest {
			float: right;
			font-size: 0.24rem;
			color: @grey-text;
		}
	}

	input {
		display: block;
		width: 6.6rem; height: 0.8rem;
		margin: auto;
		margin-bottom: 0.15rem;
		border-radius: 0.03rem;
		border: 1px solid @grey-border;
		font-size: 0.32rem; text-indent: 0.20rem;
		&:focus {
			border: 1px solid @grey-text;
			//box-shadow: 0 0 3px @blue;
		}
	}
	.login {
		width: 6.60rem;
		height: 0.80rem;
		border-radius: 0.10rem;
		background: @red;
		text-align:center;
		line-height:0.80rem;
		color:white;
		font-size:0.32rem;
		margin: 0 auto 0.3rem auto;
		display:block;
	}
	.options {
		padding: 0 0.3rem;
		font-size: 0.24rem; color: @grey-text;
		.a-signup {
			float: left;
		}
		.a-retrive {
			float: right;
		}
	}
	.options a:link {color: @grey-text;}
	.options a:visited {color: @grey-text;}
}