.cover {
	position: relative;
	img {
		width: 100%;
	}
	.content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		.btnStart {
			width: 3rem;
			height: 0.7rem;
			margin: auto;
			margin-top: 9.5rem;
			line-height: 0.7rem;
			font-size: 0.3rem;
			display: block;
		}
	}
}

.container {
	background: orange;
	.swiper {
		width: 100%;
		height: 100%;
		font-size: 2rem;
		.train {
			width: 100%;
			height: 200%;
			li {
				width: 100%;
				height: 50%;
			}
		}
	}
}