.shopping-cart {color:grey;font-size:80%;
	.shopping-cart-header1 {width:100%;padding:10px 0 10px 0;color:#C81623;font-size:18px;border-bottom:1px solid #C81623;}
	.shopping-cart-header2 {width:100%;padding:10px 0 10px 0;background:#F3F3F3;overflow:hidden;border-bottom:1px solid grey;}
	.item {width:1000px;padding:20px 0 20px 0;background:#FFF4E8;border-bottom:1px solid grey;overflow:hidden;}
	.summary {float:right;
		>li {float:left;height:40px;margin:0 0 0 20px;
			:nth-child(1) {padding-top:10px;}
			:nth-child(2) {padding-top:10px;}
		
		}
		.totalQuantity {color:#C81623;}
		.note {color:#C81623;}
		.totalPrice {color:#C81623;}
		.checkout {background:#C81623;color:white;line-height:40px;font-size:18px;padding:0 15px 0 15px;cursor:pointer;}
	}

	.check {float:left;margin:0 10px 0 10px;}
	.img {float:left;width:80px;margin:0 10px 0 0;}
	.name {float:left;width:200px;margin:0 10px 0 0;}
	.spec {float:left;width:200px;margin:0 10px 0 0;height:100%;}
	.price {float:left;width:100px;margin:0 10px 0 0;}
	.counter {float:left;width:120px;margin:0 10px 0 0;
		.minus {float:left;width:20px;height:20px;border:1px solid grey;text-align:center;line-height:20px;cursor:pointer;background:#C81623;color:white;}
		.quantity {float:left;width:50px;height:20px;border-top:1px solid grey;border-bottom:1px solid grey;text-align:center;line-height:20px;}
		.plus {float:left;width:20px;height:20px;border:1px solid grey;text-align:center;line-height:20px;cursor:pointer;background:#C81623;color:white;}	
	}

	.subtotal {float:left;width:100px;margin:0 10px 0 0;}
	.manipulation {float:left;width:100px;}
	.remove {cursor:pointer;}
	.remove:hover {color:#C81623;}
	.concern {cursor:pointer;}
	.concern:hover {color:#C81623;}	
}



