@black: #3A3A3A;

@red: #DD2727;
@red: #0f88eb;

@blue: #0f88eb;

@green: #5EA626;
@green-dark: #5EA626;
@green-text: #66CC66;

@orange: #FF9900;

@grey-bg: #ECEBEB;
@grey-text: #999999;
@grey-border: #dfdfdf;

@blue-class: #95ABD6;
@blue-desc: #B9C8E5;

@f-normal: 0.24rem;