.main {
  width: 100%;
  overflow: hidden;
}
.main .swiper {
  position: relative;
  margin: auto;
}
.main .swiper .train {
  width: 1000%;
  height: 100%;
}
.main .swiper .train .item {
  float: left;
  width: 10%;
  height: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main .swiper .train .item.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
