#app {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: lightgrey;
}
.trans-transition {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
.trans-enter {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.trans-leave {
  -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 1, 0, -90deg);
          transform: translate3d(-100%, 0, 0) rotate3d(0, 1, 0, -90deg);
  opacity: 0;
}
html {
  font-size: 2vw!important;
}
h1 {
  font-size: 5vw;
  text-align: center;
}
h2 {
  width: 80%;
  margin: auto;
  font-size: 5vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 1vw;
}
h3 {
  font-size: 4vw;
  text-align: center;
}
p {
  font-size: 3vw;
  margin-left: 10vw;
}
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 5vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.nav li {
  text-align: center;
  cursor: pointer;
}
.nav li:hover {
  background: white;
}
.nav li.active {
  background: white;
}
.strip {
  width: 100%;
  height: 13vw;
  padding-bottom: 2vw;
}
.strip .left {
  box-sizing: border-box;
  display: tabel-cell;
  vertical-align: middle;
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 10vw;
}
.strip .left table {
  width: 100%;
  height: 100%;
}
.strip .r2d2 {
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}
.strip .square0 {
  width: 13vw;
  height: 13vw;
  float: left;
  background: green;
  -webkit-transition: 1s;
  transition: 1s;
}
.strip .space {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 13vw;
  height: 13vw;
  float: left;
}
.strip .space .square {
  width: 100%;
  height: 100%;
  background: green;
  -webkit-transition: 1s;
  transition: 1s;
}
.strip .r2d2.translate:hover {
  -webkit-transform: translate3d(20vw, 5vw, 0);
          transform: translate3d(20vw, 5vw, 0);
}
.strip .r2d2.scale3d:hover {
  -webkit-transform: scale3d(1.2, 1.2, 2);
          transform: scale3d(1.2, 1.2, 2);
}
.strip .r2d2.skew:hover {
  -webkit-transform: skew(30deg, 30deg);
          transform: skew(30deg, 30deg);
}
.strip .r2d2.rotateY:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.strip .square0.rotateX:hover {
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}
.strip .square.rotate:hover {
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}
.strip .r2d2.opacity:hover {
  opacity: 0;
}
.strip .square.background:hover {
  background: red;
}
.strip .square.box-shadow:hover {
  box-shadow: 0 0 10vw 1vw green;
}
.swiper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: orange;
}
.swiper .train {
  width: 100%;
  height: 2000%;
  -webkit-transition: 1s;
  transition: 1s;
}
.swiper .train .item {
  width: 100%;
  height: 5%;
  overflow: hidden;
}
.title {
  margin-top: 20vw;
}
