.swiper {
	position: relative;
	width: 600px;
	height: 400px;
	margin: 20px auto 0 auto;
	overflow: hidden;
	.train {
		position: absolute;
		width: 500%;
		height: 100%;
		>li {
			position: relative;
			width:600px;
			height: 100%;
			float:left;
			p {
				position: absolute;
				left: 0;
				bottom: 10px;
				width: 100%;
				font-size:150%;
				color:white;
				z-index:1;
				text-align:center;
			}
		}
	}
	.prev {position:absolute;left:10px;bottom:0px;cursor:pointer;font-size:300%;color:white;z-index:1;}
	.prev:hover {color:orange;}
	.next {position:absolute;right:10px;bottom:0px;cursor:pointer;font-size:300%;color:white;z-index:1;}
	.next:hover {color:orange;}
	.tabs {
		position:absolute;
		>li {
			width:20px;
			height:20px;
			border: 1px solid black;
			border-radius:50%;
			background:white;
			float:left;
			margin-right:10px;
			opacity:0.5;
			cursor:pointer;
		}
		>li.active {
			background:orange;
			opacity: 1;
		}
	}
	.shade {position:absolute;left:0;bottom:0;width:100%;box-shadow:0 0 50px 45px;}
	.runtime {position:absolute;left:0;bottom:0;width:0;height:6px;background:orange;}
}