<style>
.Gallery {
	position: absolute; bottom: 0;
	width: 992px; height: 220px;
}
.Gallery a {
	position: relative;
	width: 120px; height: 220px;
	float: left;margin-left:2px;margin-right:2px;transition:2s;display:block;
}
.Gallery a img {position:absolute;width:100%;display:block;}
.Gallery .p1 {bottom:-160px;}
.Gallery .p2 {bottom:-110px;}
.Gallery .p3 {bottom:-70px;}
.Gallery .p4 {bottom:-130px;}
.Gallery .p5 {bottom:-200px;}
.Gallery .p6 {bottom:-100px;}
.Gallery .p7 {bottom:-130px;}
.Gallery .p8 {bottom:-80px;}
</style>
<div class="Gallery">
	<a href=""><img class="p1" src="../../img/wolf/cont3_demo1.png"></a>
	<a href=""><img class="p2" src="../../img/wolf/cont3_demo2.png"></a>
	<a href=""><img class="p3" src="../../img/wolf/cont3_demo3.png"></a>
	<a href=""><img class="p4" src="../../img/wolf/cont3_demo4.png"></a>
	<a href=""><img class="p5" src="../../img/wolf/cont3_demo5.png"></a>
	<a href=""><img class="p6" src="../../img/wolf/cont3_demo6.png"></a>
	<a href=""><img class="p7" src="../../img/wolf/cont3_demo7.png"></a>
	<a href=""><img class="p8" src="../../img/wolf/cont3_demo8.png"></a>
	<div class="clear"></div>
</div>