@import './common.less';

.start1 {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 6rem;
	font-size: 3rem;
	border-radius: 50px;
	background: @blue;
	color: white;
	box-shadow: 0 0 3px @blue;
}

.paper {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 80%;
	height: 80%;
	background: white;
	box-shadow: 0 0 10px grey;
}