* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
/* Media Queries */
html {
  font-size: 100px;
}
body {
  overflow: hidden;
}
.bar {
  width: 100%;
}
.frame {
  font-size: 0.3rem;
}
.frame .swiper {
  position: relative;
  width: 70%;
  height: 400px;
  margin: 20px auto 0 auto;
  background: red;
}
.frame .swiper .train {
  position: absolute;
  width: 500%;
  height: 100%;
}
.frame .swiper .train > li {
  position: relative;
  width: 600px;
  height: 100%;
  float: left;
}
.frame .swiper .train > li p {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  font-size: 150%;
  color: white;
  z-index: 1;
  text-align: center;
}
