* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  margin: auto;
}
ul {
  list-style: none;
}
@media (max-width: 350px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
.text {
  padding: 2rem;
  font-size: 1.8rem;
  background: grey;
}
