* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
/* Media Queries */
@media (min-width: 0px) {
  html,
  body {
    font-size: 8px;
  }
}
@media (min-width: 320px) {
  html,
  body {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}
.cover {
  width: 100%;
  height: 1000px;
  background: red;
}
.cover .start {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20rem;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  font-size: 3rem;
  border-radius: 3rem;
  background: #2CA0FD;
  color: white;
}
.world {
  position: relative;
  width: 100%;
  height: 3000px;
  background: #E5E5E5;
  display: none;
  overflow: hidden;
}
.world .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 100;
  display: none;
}
.world .mask .confirmPanel {
  width: 200px;
  height: 200px;
  background: white;
  margin: 150px auto 0 auto;
  z-index: 102;
}
.world .page1 {
  display: none;
}
.world .page1 .space {
  position: relative;
  width: 80%;
  height: 1px;
  margin: 4rem auto;
}
.world .page1 .space .panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px grey;
  font-size: 2rem;
  overflow: hidden;
  z-index: 20;
}
.world .page1 .space .panel .title {
  padding: 2rem 1.5rem 2rem 1.5rem;
  background: #2CA0FD;
  color: white;
}
.world .page1 .space .panel ul li {
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1.6rem;
}
.world .page1 .space .panel ul li:hover {
  background: lightgrey;
}
.world .page1 .space .nextPanel {
  opacity: 0;
  z-index: 10;
}
.world .result {
  display: none;
}
.world .result p {
  text-align: center;
  font-size: 2rem;
}
@keyframes moveOut {
  0% {
    transform: ;
  }
  100% {
    transform: translate(-1600px, 150px) rotate(-90deg);
  }
}
@keyframes moveIn {
  0% {
    transform: translate(1600px, 150px) rotate(90deg);
  }
  40% {
    transform: translate(-10px, 0) rotate(-3deg);
  }
  60% {
    transform: translate(10px, 0) rotate(5deg);
  }
  100% {
    transform: ;
    opacity: 1;
  }
}
.moveOut {
  transform-origin: 50% 100%;
  animation: moveOut 0.8s forwards;
}
.moveIn {
  transform-origin: 50% 100%;
  animation: moveIn 1s forwards;
}
