* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
/* Media Queries */
.cover {
  position: relative;
  width: 100%;
  background: lightgrey;
}
.cover .background {
  width: 100%;
  display: block;
}
.cover .title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.cover .start__ {
  position: absolute;
  left: 10%;
  top: 56%;
  width: 80%;
  overflow: hidden;
}
.cover .start__ .btn-start {
  width: 200%;
  display: block;
}
.cover .start {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 6rem;
  font-size: 3rem;
  border-radius: 50px;
  background: #2CA0FD;
  color: white;
  box-shadow: 0 0 3px #2CA0FD;
}
.world {
  position: relative;
  width: 100%;
  height: 3000px;
  background: #E5E5E5;
  display: none;
  overflow: hidden;
}
.world .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 100;
  display: none;
}
.world .mask .confirmPanel {
  width: 200px;
  height: 200px;
  background: white;
  margin: 150px auto 0 auto;
  z-index: 102;
}
.world .page1 {
  display: none;
}
.world .page1 .space {
  position: relative;
  width: 80%;
  height: 1px;
  margin: 0.6rem auto;
}
.world .page1 .space .panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px grey;
  font-size: 0.36rem;
  overflow: hidden;
  z-index: 20;
}
.world .page1 .space .panel .title {
  padding: 0.2rem;
  background: #2CA0FD;
  color: white;
}
.world .page1 .space .panel ul li {
  padding: 0.1rem;
  font-size: 0.26rem;
}
.world .page1 .space .panel ul li:hover {
  background: lightgrey;
}
.world .page1 .space .nextPanel {
  opacity: 0;
  z-index: 10;
}
.world .result {
  display: none;
}
.world .result p {
  text-align: center;
  font-size: 2rem;
}
.start1 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 6rem;
  font-size: 3rem;
  border-radius: 50px;
  background: #2CA0FD;
  color: white;
  box-shadow: 0 0 3px #2CA0FD;
}
.paper {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 80%;
  height: 80%;
  background: white;
  box-shadow: 0 0 10px grey;
}
