* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Microsoft Yahei';
}
.btn {
  position: relative;
  width: 4rem;
  height: 1rem;
  margin: 0.5rem auto 0.5rem auto;
  line-height: 1rem;
  border-radius: 0.1rem;
  font-size: 0.3rem;
  text-decoration: none;
  text-align: center;
  color: #fff;
  -webkit-transition: 0s;
  transition: 0s;
  display: block;
}
.btn:active {
  -webkit-transform: translate3d(0, 0.08rem, 0);
          transform: translate3d(0, 0.08rem, 0);
  box-shadow: 0 0 0 0;
}
.blue {
  background-color: #55acee;
  box-shadow: 0 0.08rem 0 0 #3C93D5;
}
.blue:hover {
  background-color: #6FC6FF;
}
.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}
.green:hover {
  background-color: #48E68B;
}
.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}
.red:hover {
  background-color: #FF6656;
}
.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}
.purple:hover {
  background-color: #B573D0;
}
.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}
.orange:hover {
  background-color: #FF983C;
}
.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}
.yellow:hover {
  background-color: #FFDE29;
}
