* {
  margin: 0;
  padding: 0;
}
body {
  background: purple;
}
.container {
  width: 100%;
}
.gameboy {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  background: purple;
  overflow: hidden;
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
  -webkit-animation: stroke 3s linear 0s infinite;
          animation: stroke 3s linear 0s infinite;
}
@-webkit-keyframes stroke {
  0% {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
  }
}
@keyframes stroke {
  0% {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
  }
}
