@deep-blue: #0F64C0;

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

html {
	font-family: "微软雅黑";
}

a {text-decoration: none;}

img {
	display: block;
}

@keyframes toLeft {
	40% {
		transform: translate3d(-700px,100px,-300px);
	}
	100% {
		transform: translate3d(-600px,200px,-800px);
		opacity: 0.5;
	}
}
@keyframes toRight {
	40% {
		transform: translate3d(700px,100px,-300px);
	}
	100% {
		transform: translate3d(600px,200px,-800px);
		opacity: 0.5;
	}
}
@keyframes toCenter {
	100% {
		transform: ;
		opacity: 1;
	}
}


.container {
	width: 1000px;
	margin: auto;
}

.clear {
	clear: both;
}

.app-header {
	background: #0F64C0;
	.nav-bar {
		height: 95px;	
		overflow: hidden;
		.logo {
			float: left;
			padding: 20px 0 0 0;
			color: white;
			display: block;
			p:nth-child(1) {
				font-size: 20px;
			}
			p:nth-child(2) {
				font-size: 16px;
			}
			.queen {
				font-size: 10px;
			}
		}
		.nav {
			overflow: hidden;
			float: right;
			a:link {
				float: left;
				width: 70px;
				height: 80px;
				padding: 15px 10px 0 10px;
				text-align: center;
				color: white;
				img {
					height: 32px;
					display: inline-block;
				}
			}
			a:visited {
				color: white;
			}
			a:hover {
				color: white;
				background: #0D9EED;
			}
		}
	}

}



.app-content {

}

.home {
	.swiper {
		position: relative;
		width: 100%;
		height: 481px;
		overflow: hidden;
		.train {
			position: absolute;
			left: 0;
			top: 0;
			width: 300%;
			overflow: hidden;
			li {
				float: left;
				width: 33.33333333%;
				height: 481px;
			}
		}
		.centered {
			position: absolute;
			left: 50%;
			top: 80%;
			.tabs {
				margin-left: -40px;
				li {
					float: left;
					width: 14px;
					height: 14px;
					margin-right: 14px;
					border-radius: 50%;
					background: orange;
					cursor: pointer;
					display: inline;
				}
				li.active {
					background: @deep-blue;
				}
			}
		}
	}
	.showcase {
		overflow: hidden;
		p {
			padding: 30px 0 10px 0;
			font-size: 20px;
			color: @deep-blue;
			font-weight: bold;
		}
		.pic {
			position: relative;
			float: left;
			padding: 10px;
			margin: 20px 40px 20px 40px;
			box-shadow: 0 0 8px grey;
			background: white;
			img {
				width: 400px;
			}
		}
		
		.pic:before {
			position: absolute;
			content:"";
			width:100%;
			height:100%;
			left:0;
			top:0;
			transform:rotate(1deg);
			background:white;
			box-shadow:0 0 8px grey;
			z-index: -1;
		}
		.pic:after {
			position:absolute;
			content:"";
			width:100%;
			height:100%;
			z-index:-1;
			left:0;
			top:0;
			transform:rotate(-2deg);
			background:white;
			box-shadow:0 0 8px grey;
			z-index: -2;
		}
	}
	.bottom {
		h1 {
			padding: 40px 0 40px 0;
			text-align: center;
			color: orange;
		}
		h3 {
			text-align: center;
			color: white;
		}
		.animation {
			position: relative;
			width: 465px;
			height: 250px;
			margin: 40px auto 60px auto;
			perspective: 1000px;
			transform-style: preserve-3d;
			li {
				position: absolute;
				left: 0;
				top: 0;
				padding: 5px;
				background: orange;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				p {
					font-size: 20px;
				}
			}
			.i0 {
				transform: translate3d(-600px,50px,-800px);
				opacity: 0.5;
				z-index: -1;
			}
			.i1 {

			}
			.i2 {
				transform: translate3d(600px,50px,-800px);
				opacity: 0.5;
				z-index: -1;
			}
		}
		.panel {
			width: 930px;
			padding: 15px;
			margin: auto;
			background: white;
			.top {
				overflow: hidden;
				padding-bottom: 15px;
				border-bottom: 1px dotted grey;
				margin-bottom: 15px;
			}
			.bottom {
				overflow: hidden;
			}
			.left {
				float: left;
				width: 20%;
				p {
					width: 114px;
					height: 72px;
					border-radius: 5px;
					line-height: 72px;
					text-align: center;
					color: white;
					background: orange;
				}
			}
			.right {
				float: left;
				width: 80%;
			}
		}
	}
}


.brand {
	img {
		margin: 5px auto;
	}
	p {
		padding: 5px 0 5px 0;
	}
	.banner {
		padding: 10px 0 10px 0;
		font-size: 24px;
		color: #0f64c0;
		background: #E5E5E5;
	}
	.title {
		.chinese {
			padding: 10px 0 10px 0;
			font-size: 25px;
			color: @deep-blue;
		}
		.english {
			padding-bottom: 20px;
			font-size: 20px;
			color: @deep-blue;
		}
	}
	.container>p {
		font-size: 14px;
		text-indent: 28px;
	}
}

.products {
	overflow: hidden;
	.banner {
		padding: 10px 0 10px 0;
		font-size: 24px;
		color: #0f64c0;
		background: #E5E5E5;
	}
	ul {
		margin-top: 50px;
		margin-bottom: 50px;
		li {
			padding: 20px 0 20px 0;
			border-bottom: 1px dotted grey;
			overflow: hidden;
			img {
				float: left;
				width: 300px;
			}
			.right {
				float: right;
				width: 670px;
				.title {
					margin-bottom: 15px;
					font-size: 25px;
					color: @deep-blue;
					display: inline-block;
				}
			}
		}
	}
}

.contactUs {
	.banner {
		padding: 10px 0 10px 0;
		font-size: 24px;
		color: #0f64c0;
		background: #E5E5E5;
	}
	.main {
		margin-top: 50px;
		margin-bottom: 100px;
		.panel {
			float: left;
			width: 50%;
			.top {
				overflow: hidden;
				.left {
					float: left;
					width: 40%;
				}
				.right {
					float: left;
					width: 60%;
					img {
						width: 50%;
						display: block;
					}
				}
			}
			.photo {
				margin-top: 20px;
				display: block;
			}
		}
	}
}

.joinUs {
	margin-top: 50px;
	margin-bottom: 100px;
	h1 {
		color: @deep-blue;
		text-align: center;
	}
}

.footer {
	font-size: 13px;
	color: white;
	background: #0F64C0;
	ul {
		padding-top: 20px;
		li {
			float: left;
			margin-right: 60px;
		}
		.title {
			padding: 10px 0 20px 0;
			font-size: 18px;
		}
		.left {
			width: 360px;
			.more:link {
				float: left;
				width: 130px;
				height: 35px;
				margin-top: 15px;
				border: 1px solid white;
				border-radius: 3px;
				line-height: 35px;
				font-size: 13px;
				color: white;
				text-align: center;
				display: block;
			}
			.more:visited {
				color: white;
			}
		}
		.footerImg {
			float: right;
		}
	}
	.copyright {
		padding: 10px 0 10px 0;
		border-top: 1px solid white;
		margin-top: 15px;
	}
}