.wrapper {width:7.20rem;height:15rem;background:#EFEFEF;}

.slider {position:relative;width:7.2rem;height:4.90rem;overflow:hidden}
.slider .train {width:28.8rem;margin-left:-7.2rem;}
.slider .train a {float:left;width:7.2rem;height:4.9rem;display:block;overflow:hidden}
.slider .train a img {width:100%}
.slider .tabs {position:absolute;left:2.96rem;bottom:.20rem;width:1.29rem;height:.22rem;border-radius:.11rem;background:white;padding:0 .10rem 0 .10rem;}
.slider .tabs li {width:.12rem;height:.12rem;border-radius:.06rem;background:grey;float:left;margin:.05rem .10rem .05rem .10rem;}
.slider .tabs li.selected {background:#66CC66;}

.desc {position:relative;width:7.20rem;height:2.20rem;background:white;border-top:1px solid grey;margin:.05rem 0 .20rem 0;}
.desc .upper {position:relative;width:6.60rem;height:1.00rem;border-bottom:1px solid grey;margin:0 0 0 .30rem;}
.price {position:absolute;left:.05rem;top:.30rem;color:#FF9900;}
.counter {float:right;margin-top:.25rem;}
.minus {width:.50rem;height:.50rem;border:1px solid black;font-size:.32rem;line-height:.50rem;text-align:center;float:left;color:grey;cursor:pointer}
.quantity {width:1rem;height:.50rem;border-top:1px solid black;border-bottom:1px solid black;font-size:.32rem;line-height:.50rem;text-align:center;float:left;}
.plus {width:.50rem;height:.50rem;border:1px solid black;font-size:.32rem;line-height:.50rem;text-align:center;float:left;cursor:pointer}
.desc .lower {position:relative;width:6.60rem;height:1rem;margin-left:.30rem;}
.desc .lower p {font-size:.2rem;margin:.10rem 0 .10rem 0;}
.desc .lower p:last-child {color:grey;}
.price {font-size:.4rem}

.item_spec {position:relative;width:7.20rem;height:1.80rem;background:white;margin-bottom:.20rem;}
.item_spec p {width:6.60rem;margin-left:.30rem;padding:.20rem 0 .10rem 0;font-size:.2rem;border-bottom:1px solid grey;color:grey;}
.spec {float:left;width:2.30rem;height:.60rem;border:1px solid grey;color:grey;font-size:.2rem;line-height:.60rem;text-align:center;cursor:pointer}
.spec1 {margin:.35rem 0 0 .60rem;float:left;}
.spec2 {margin:.35rem 0 0 1.20rem;}
.spec.selected {border:1px solid #66CC66!important;color:#66CC66!important;}

.details {position:relative;width:7.20rem;background:white;}
.details ul {position:relative;width:6.63rem;height:.25rem;margin-left:.30rem;padding:.15rem 0 .15rem 0;}
.details ul li {width:2.18rem;height:.25rem;float:left;font-size:.2rem;color:grey;line-height:.20rem;text-align:center;border-right:1px solid grey;cursor:pointer;}
.details ul li:last-child {border:none;}
.details ul li.selected {color:#66CC66!important;}
.line {position:relative;width:6.60rem;height:.01rem;background:grey;margin:0 0 .20rem .30rem;}
.square {position:relative;width:6.90rem;margin:0 0 0 .15rem;}
.square img {width:100%}

.item_nav_shadow {width:7.20rem;height:.80rem;background:white;border-top:1px solid grey;}

.item_nav {position:fixed;left:0;bottom:0;width:7.20rem;height:.80rem;background:white;border-top:1px solid grey;}
.home:link {float:left;width:0.42rem;display:block;margin:0.1rem 1.3rem 0 1.14rem;color:black}
.home:visited {color:black;}
.home img {width:0.4rem;display:block;margin:auto;}
.home p {font-size:0.19rem;text-align:center;}
.to_cart {float:left;width:3.20rem;height:.60rem;margin:0.1rem 0 0 0;background:#FF9933;color:white;border-radius:.05rem;border:1px solid black;line-height:.60rem;text-align:center;font-size:.2rem;display:block} 