@import (reference) './common.less';

.main {
	width: 100%;
	overflow: hidden;
	.swiper {
		position: relative;
		margin: auto;
		.train {
			width: 1000%;
			height: 100%;
			.item {
				float: left;
				width: 10%; height: 100%;
				transform: scale(0.8);
				opacity: 0.6;
				transition: 0.5s;
			}
			.item.active {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}