@import (reference) './common.less';

.mask {
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	background: @green;
	z-index: 100;
	overflow: hidden;
	transform: perspective(1000px);
	.upper {
		width: 80%; height: 50%;
		margin: auto; margin-top: 0.5rem;
		background: white;
		// box-shadow: inset 0 0 5px grey;
	}
	.lower {
		width: 80%; height: 40%;
		margin: auto;
		background: white;
		// box-shadow: inset 0 0 5px grey;
	}
}

.main {
	width: 100%;
	overflow: hidden;
}

.title {
	position: relative;
	width: 100%;
	overflow: hidden;
	img {
		width: 100%;
	}
	.countdown {
		position: absolute; left: 0; top: 3.45rem; 
		width: 100%;
		font-size: 0.22rem; text-align: center;
		span {
			font-size: 0.38rem;
		}
	}
	.swiper {
		position: absolute; left: 0; top: 5.6rem;
		width: 100%;
		overflow: hidden;
		.swiper-body {
			position: relative;
			width: 3.8rem;
			height: 2.15rem;
			margin: auto;
			//background: red;
			.train {
				position: absolute;
				width: 400.5%; height: 2.15rem;
				margin-left: -100%;
				overflow: hidden;
				.item {
					float: left;
					height: 2.15rem;
					font-size: 0.2rem;
					transform: scale(0.9);
					opacity: 0.5;
					transition: 0.3s;
					img {
						width: 3.2rem;
						margin: auto;
					}
				}
				.item.active {
					transform: scale(1);
					opacity: 1;
				}

			}
		}
		.prizeNumber {
			margin-bottom: 0.24rem;
			font-size: 0.22rem;
			text-align: center;
			font-weight: bold;
		}
		.desc {
			margin-bottom: 0.2rem;
			font-size: 0.24rem;
			text-align: center;
			color: #666666;
		}
	}
}




.wave {
	width: 100%;
}
.con2 {
	width: 100%;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
	background: @grey;
	overflow: hidden;
	.panel {
		width: 6.68rem;
		margin: auto;
		padding-top: 0.32rem;
		border-radius: 0.15rem;
		background: white;
		overflow: hidden;
		.banner {
			width: 5.1rem;
			margin: auto; margin-bottom: 0.26rem;
		}
		.signin {
			position: relative;
			width: 100%; height: 1.4rem;
			background: @green;
			&:active {
				background: @green-dark;
			}
			.signinBg {
				position: absolute; left: 0.96rem; top: -0.05rem;
				width: 4.5rem;
			}
		}
		.mine {
			position: relative;
			.streak {
				position: absolute; left: 0.44rem; top: -0.05rem;
				width: 0.56rem;
				z-index: 10;
			}
			.mineTop {
				position: relative;
				height: 1.38rem;
				border-top: 1px solid #BCBCBC;
				border-bottom: 1px solid #BCBCBC;
				.left {
					float: left;
					width: 72%; height: 1.38rem;
					background: @green;
					.myAvatarCtn {
						position: absolute; left: 0.24rem; top: 0.22rem; z-index: 20;
						box-sizing: border-box;
						width: 0.96rem; height: 0.96rem;
						// margin: 0.22rem 0.18rem 0 0.22rem; 
						border-radius: 9rem;
						border: 0.06rem solid #E3E3E3;
						overflow: hidden;
						.myAvatar {
							width: 100%;
						}
					}
					.text {
						float: left;
						margin-top: 0.2rem; margin-left: 1.38rem;
						font-size: 0.3rem;
						.myName {
							font-size: 0.3rem; color: #333333;
						}
						.coin {
							font-size: 0.24rem; color: #333333;
						}
						.coinNumber {
							font-size: 0.38rem; font-weight: bold; color: #4B4652;
						}
					}
				}
				.right {
					float: left;
					width: 28%; height: 1.38rem;
					background: #FFF9F4;
					.currentRanking {
						margin-top: 0.2rem; margin-bottom: 0.08rem;
						text-align: center;
						font-size: 0.24rem;
						color: #777574;
					}
					.myRanking {
						font-size: 0.38rem; text-align: center; font-weight: bold; color: #4B4652;
					}
				}
			}
			.line {
				height: 0.48rem; line-height: 0.48rem;
				text-align: center;
				background: @grey-header;
				font-size: 0.24rem;
				a {
					text-decoration: underline; color: #ff6666;
				}
			}
		}
		
		.header {
			width: 100%; height: 0.75rem;
			margin-top: 0.24rem;
			background: @grey-header;
			border-bottom: 1px solid @grey-border;
			overflow: hidden;
			li {
				float: left;
			}
			.rank {
				width: 0.66rem;
				height: 0.4rem;
				margin-left: 0.3rem;
				margin-right: 0.43rem;
				text-align: center; font-size: 0.26rem; line-height: 0.75rem;
			}
			.nickname {
				width: 2.4rem;
				text-align: center;
				font-size: 0.26rem; line-height: 0.75rem;
			}
			.coin {
				float: right;
				width: 2.5rem;
				margin-right: 0.36rem;
				text-align: right; font-size: 0.26rem; line-height: 0.75rem;
			}
		}
		.list {
			li {
				width: 100%; height: 1rem;
				border-bottom: 1px solid @grey-border;
				&:nth-child(1),&:nth-child(2),&:nth-child(3){
					.badge p {color:white;}
					.avatar {
						.round {
							width: 0.7rem; height: 0.7rem;
							margin-top: 0.16rem;
							border-radius: 0.35rem;
						}
					}
				}
				.badge {
					position: relative; float: left;
					width: 1.14rem; height: 100%;
					overflow: hidden;
					img {
						width: 0.62rem;
						margin: auto; margin-top: 0.3rem;
					}
					p {
						position: absolute; left: 0; top: 0;
						width: 100%; height: 100%;
						line-height: 1rem; font-size: 0.26rem; text-align: center;
					}
				}
				.avatar {
					position: relative; float: left;
					width: 1.14rem;
					.crown {
						position: absolute; top: -0.15rem; left: 0.35rem;
						width: 0.48rem;
					}
					.round {
						width: 0.54rem; height: 0.54rem;
						margin: auto;
						margin-top: 0.2rem;
						border-radius: 0.27rem;
						overflow: hidden;
						img {
							width: 100%; height: 100%;
						}
					}
				}
				.name {
					float: left;
					width: 1.86rem;
					line-height: 1rem;
					font-size: 0.26rem;
					overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
				}
				.number {
					float: right;
					margin-right: 0.36rem;
					line-height: 1rem;
					font-size: 0.26rem;
					text-align: right;
				}
			}
		}
		.bottom {
			position: relative;
			.more {
				display: block;
				width: 5.16rem; height: 0.82rem; line-height: 0.82rem;
				margin: auto; margin-top: 0.26rem; margin-bottom: 0.5rem;
				border-radius: 0.41rem;
				background: @green;
				font-size: 0.24rem; text-align: center; color: #333333;
				&:active {
					background: @green-dark;
				}
			}
			.triangle {
				width: 6.4rem;
				margin: auto;
			}
		}
	}
}

.rules-con {
	position: relative;
	width: 100%; height: 1.3rem;
	overflow: hidden;
	.rules {
		width: 100%;
	}
	.rules-content-2 {
		position: absolute; left: 0; top: 0; overflow: hidden;
		width: 100%; height: 100%; display: none;
		p {
			width: 6.54rem;
			margin: auto; margin-top: 1.3rem;
			font-size: 0.22rem; color: #666666;
		}
	}
}

.rules-content {
	position: relative; overflow: hidden;
	width: 100%;
	background: #fff9f3;
	//display: none;
	div {
		width: 6.4rem;
		margin: auto;
		font-size: 0.26rem; color: #666666; line-height: 0.46rem;
	}
	.p-top {
		height: 0.46rem;
		margin-top: 0.4rem; margin-bottom: 0.3rem;
	}
	.p-one {
		height: 0.46rem;
		margin-bottom: 0.3rem;
	}
	.p-two {
		height: 0.92rem;
		margin-bottom: 0.3rem;
	}
	.p-three {
		height: 1.38rem;
		margin-bottom: 0.3rem;
	}
	.p-bottom {
		height: 0.92rem;
		margin-bottom: 0.8rem;
	}
}