.NOTICE {
	position: fixed; left: 2.1rem; top: 40%;
	margin: auto;
	box-sizing: border-box;
	width: 3rem;
	padding: 0.3rem;
	line-height: 0.4rem;
	border-radius: 0.1rem;
	background: rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	font-size: 0.24rem;
	z-index: 1000;
}