.NAVBAR {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.80rem;
  background: white;
  overflow: hidden;
}
.NAVBAR .nav a:link {
  position: relative;
  width: 25%;
  height: 0.80rem;
  float: left;
  color: black;
  display: block;
}
.NAVBAR .nav a:link img {
  width: 0.4rem;
  display: block;
  margin: 0.1rem auto 0 auto;
}
.NAVBAR .nav a:link p {
  font-size: 0.2rem;
  text-align: center;
}
.NAVBAR .nav a:link .line {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: black;
}
.NAVBAR .nav a:visited {
  color: black;
}
.NAVBAR .nav .selected {
  color: #66CC66;
}
