* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-size: 100px;
  font-family: 'Microsoft Yahei';
}
ul {
  list-style: none;
}
img {
  display: block;
}
a:link {
  color: ;
  text-decoration: none;
}
/* Utility Classes */
.container {
  background: orange;
  overflow: hidden;
  display: none;
}
.clearfix {
  clear: both;
}
/* Media Queries */
@media (-webkit-min-device-pixel-ratio: 2) {
}
.SIGN_IN {
  height: 12.8rem;
  background: #EFEFEF;
}
.SIGN_IN .header {
  position: relative;
  width: 100%;
  height: 5rem;
  overflow: hidden;
}
.SIGN_IN .grass {
  position: absolute;
  width: 100%;
}
.SIGN_IN .outer-round {
  position: relative;
  width: 3.95rem;
  height: 3.95rem;
  background: #EFEFEF;
  border-radius: 1.975rem;
  margin: 0 auto;
  margin-top: 0.7rem;
}
.SIGN_IN .logo {
  position: absolute;
  left: 0.645rem;
  top: 0.4rem;
  width: 2.66rem;
  height: 2.66rem;
  background: #5EA626;
  border-radius: 1.33rem;
}
.SIGN_IN .word {
  position: absolute;
  top: 3.2rem;
  width: 3.95rem;
  text-align: center;
  font-size: 0.48rem;
}
.SIGN_IN input {
  width: 100%;
  height: 1.15rem;
  font-size: 0.32rem;
  border: none;
  text-indent: 0.20rem;
}
.SIGN_IN .login {
  width: 6.80rem;
  height: 0.80rem;
  border-radius: 0.10rem;
  background: #5EA626;
  text-align: center;
  line-height: 0.80rem;
  color: white;
  font-size: 0.32rem;
  margin: 0.18rem auto 2rem auto;
  display: block;
}
.SIGN_IN .options {
  text-align: center;
  font-size: 0.32rem;
  color: #999999;
}
.SIGN_IN .options span {
  margin: 0 0.30rem 0 0.30rem;
}
.SIGN_IN .options a:link {
  color: #9D9D9D;
}
.SIGN_IN .options a:visited {
  color: #9D9D9D;
}
