.mask {
	z-index: 10; display: none;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.5);
	.mask-panel {
		overflow: hidden;
		position: absolute; left: 0; top: 0; bottom: 0; right: 0;
		width: 5.5rem; height: 3.6rem;
		margin: auto;
		border-radius: 0.1rem; background: white;
		.top {
			box-sizing: border-box;
			height: 0.9rem;
			border-bottom: 1px solid #d8d8d8;
			font-size: 0.28rem; line-height: 0.9rem; font-weight: bold; text-align: center;
		}
		.middle {
			box-sizing: border-box;
			height: 1.8rem;
			border-bottom: 1px solid #d8d8d8;
			font-size: 0.28rem; line-height: 1.8rem; text-align: center;
		}
		.bottom {
			overflow: hidden;
			li {
				float: left;
				width: 50%; height: 0.9rem; line-height: 0.9rem;
				font-size: 0.28rem; text-align: center;
			}
			.confirm {
				background: #3d8dcf;
				color: white;
			}
		}
	}
}

.main {
	position: relative; overflow: hidden;
	width: 100%;
	.bg {
		width: 100%;
	}
	.main-content {
		position: absolute; left: 0; top: 0;
		width: 100%; height: 100%;
		.panel {
			width: 6.58rem;
			margin: auto; margin-top: 0.44rem;
		}
	}
}

* {
	// -webkit-touch-callout: none;
	// user-select: none;
}