*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #333;
  font-family: 'Microsoft Yahei';
}
.container {
  margin-top: 50px;
  text-align: center;
}
.blob-btn {
  z-index: 1;
  position: relative;
  width: 200px;
  height: 50px;
  margin: 50px;
  line-height: 50px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #0fe0f5;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  display: block;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #0fe0f5;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  border: 6px solid #222;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}
.blob-btn:hover:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.blob-btn:hover {
  color: #222;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
._blobs {
  position: relative;
  display: block;
  height: 100%;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}
._blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #0fe0f5;
  border-radius: 100%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
          transform: translate3d(0, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}
@supports ( ((-webkit-filter: url("#goo")) or (filter: url("#goo")))) {
  ._blob {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
            transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
._blob:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
._blob:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}
._blob:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}
._blob:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}
.blob-btn:hover ._blob {
  -webkit-transform: translate3d(0, 0, 0) scale(1.7);
          transform: translate3d(0, 0, 0) scale(1.7);
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn:hover ._blob {
    -webkit-transform: translate3d(0, 0, 0) scale(1.4);
            transform: translate3d(0, 0, 0) scale(1.4);
  }
}
@-webkit-keyframes blob1 {
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.7);
            transform: translate3d(0, 0, 0) scale(1.7);
  }
}
@keyframes blob1 {
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.7);
            transform: translate3d(0, 0, 0) scale(1.7);
  }
}
@-webkit-keyframes change {
  100% {
    color: black;
  }
}
@keyframes change {
  100% {
    color: black;
  }
}
.btn {
  z-index: 1;
  position: relative;
  width: 200px;
  height: 50px;
  margin: 50px;
  line-height: 50px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: red;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  display: block;
  -webkit-animation: change 0.45s infinite alternate;
          animation: change 0.45s infinite alternate;
}
.btn .blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: red;
  border-radius: 100%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
          transform: translate3d(0, 150%, 0) scale(1.7);
}
.btn .blob:nth-child(1) {
  left: 0;
  -webkit-animation: blob1 0.45s infinite alternate;
          animation: blob1 0.45s infinite alternate;
}
.btn .blob:nth-child(2) {
  left: 30%;
  -webkit-animation: blob1 0.45s 0.08s infinite alternate;
          animation: blob1 0.45s 0.08s infinite alternate;
}
.btn .blob:nth-child(3) {
  left: 60%;
  -webkit-animation: blob1 0.45s 0.16s infinite alternate;
          animation: blob1 0.45s 0.16s infinite alternate;
}
.btn .blob:nth-child(4) {
  left: 90%;
  -webkit-animation: blob1 0.45s 0.24s infinite alternate;
          animation: blob1 0.45s 0.24s infinite alternate;
}
.btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid red;
}
