.wrapper {width:7.2rem}

.nav {position:fixed;left:0;bottom:0;width:7.20rem;height:0.80rem;background:white;overflow:hidden;}
.nav a:link {width:1.77rem;height:0.80rem;float:left;border-right:0.01rem solid #EFEFEF;color:black;}
.nav a:visited {color:black;}
.nav img {width:0.4rem;display:block;margin:0.1rem auto 0 auto;}
.nav p {font-size:0.2rem;text-align:center;}
.nav .selected {color:#66CC66}