.home {
	.papa {
		width: 5rem;
		margin: auto;
		border-radius: 0.05rem;
		background: orange;
		overflow: hidden;
		input {
			width: 3rem;
			height: 0.5rem;
			margin: auto;
			margin-top: 0.3rem;
			border: none;
			display: block;
		}
		button {
			display: block;
		}
	}
}