body {font-family:Î¢ÈíÑÅºÚ;font-size:100px;}

.wrapper {position:absolute;left:0;top:0;width:7.20rem;background:#EFEFEF;}

.searchwrapper {position:relative;width:7.20rem;height:1.10rem;overflow:hidden;}
.search {position:relative;width:6.20rem;height:.60rem;border-radius:.30rem;background:white;box-shadow:0 0 .15rem grey;margin:auto;margin-top:.25rem;}
.search img {width:0.35rem;margin:.10rem .40rem 0 .20rem;float:left;}
.search input {height:.55rem;display:block;font-size:0.288rem;border:none;}

.slider {position:relative;width:7.20rem;height:4.90rem;margin-bottom:.20rem;overflow:hidden;}
.slider-imgs {width:36rem;overflow:hidden;}
.slider li {float:left;width:7.2rem;}
.slider img {width:100%}
.slider-tabs {position:absolute;width:1.29rem;height:.22rem;border-radius:.11rem;background:white;padding:0 .10rem 0 .10rem;left:2.8rem;top:4.50rem;}
.slider-tabs li {width:.12rem;height:.12rem;border-radius:.06rem;background:grey;float:left;margin:.05rem .10rem .05rem .10rem;}
.slider-tabs .selected {background:#66CC66;}

.class_ {position:relative;background:white;margin:0 0 .20rem 0;overflow:hidden;}
.class_header {position:relative;width:7.20rem;padding:0.1rem 0 0.15rem 0;overflow:hidden;}
.class_header .p1 {position:relative;font-size:.32rem;margin:0 0 0 .40rem;float:left;color:#66CC66;}
.class_header .p2 a:link {font-size:.32rem;margin:0 .40rem 0 0;float:right;color:#FF9900;}
.class_header .p2 a:visited {color:#FF9900;}
.row {position:relative;padding:0 .40rem 0.1rem 0.4rem;overflow:hidden;}
.row .item {width:2.60rem;float:left;}
.row .item:nth-child(2) {float:right;}
.item:link .name {color:black;}
.item:visited .name {color:black;}
.item .thumbnail {width:2.60rem;height:2.60rem;display:block;}
.item p {width:2.40rem;margin:.05rem 0 .05rem 0;font-size:.2rem;}
.description {color:grey;}
.price {color:#FF9900;}

.nav_shadow {height:0.8rem}