@import './common.less';

.SIGN_IN {
	height: 12.8rem;
	background: @grey-bg;
	.header {
		position: relative;
		width: 100%;
		height: 5rem;
		overflow: hidden;
	}
	.grass {
		position:absolute;
		width:100%;
	}
	.outer-round {
		position: relative;
		width: 3.95rem;
		height: 3.95rem;
		background: @grey-bg;
		border-radius: 1.975rem;
		margin: 0 auto;
		margin-top: 0.7rem;
	}
	.logo {
		position: absolute;
		left: 0.645rem;
		top: 0.4rem;
		width: 2.66rem;
		height: 2.66rem;
		background: rgba(94,166,38,0.3);
		border-radius: 1.33rem;
		img {
			width: 2.66rem;
		}
	}
	.word {position:absolute;top:3.2rem;width:3.95rem;text-align:center;font-size:0.48rem;}

	input {width:100%;height:1.15rem;font-size:0.32rem;border:none;text-indent:0.20rem;}
	.login {
		width: 6.80rem;
		height: 0.80rem;
		border-radius: 0.10rem;
		background: @green;
		text-align:center;
		line-height:0.80rem;
		color:white;
		font-size:0.32rem;
		margin:0.18rem auto 2rem auto;
		display:block;
	}
	.options {text-align:center;font-size:0.32rem;color:#999999;}
	.options span {margin:0 0.30rem 0 0.30rem;}
	.options a:link {color: @grey-text;}
	.options a:visited {color: @grey-text;}
}