a:link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  display: block;
  border: none;
  cursor: pointer;
}
body {
  font-family: '微软雅黑';
}
/**/
.wrapper {
  width: 100%;
  min-width: 1000px;
}
.container {
  width: 1000px;
  margin: auto;
}
.row {
  width: 1000px;
  margin: auto;
}
.clear {
  clear: both;
}
/* back_to_top button */
.back_to_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: lightgrey;
  z-index: 100;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
/* searchbar */
.searchbar {
  height: 120px;
  background: linear-gradient(white, #E5E5E5);
  overflow: hidden;
}
.searchbar .search_box {
  width: 600px;
  height: 40px;
  margin: 40px auto 0 auto;
  border-radius: 20px;
  border: 1px solid lightgrey;
  background: white;
  box-shadow: inset 0 2px 5px lightgrey;
}
.searchbar .search_box input {
  float: left;
  width: 400px;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  margin: 10px 0 0 40px;
  color: grey;
  border: none;
}
.searchbar .search_box .search_btn {
  float: right;
  width: 50px;
  height: 32px;
  margin: 4px 20px 0 0;
  border-radius: 16px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #B2B2B2;
}
.searchbar .search_box .search_btn:visited {
  color: #B2B2B2;
}
.searchbar .search_box .search_btn:hover {
  background: #ECE9D8;
}
/**/
.line {
  height: 4px;
  background: linear-gradient(to right, #D2AB1A, #337FAB);
}
.shade {
  width: 100%;
  min-width: 1000px;
  box-shadow: 0 0 40px 35px grey;
}
/**/
.topbar {
  position: relative;
  background: #2378BA;
}
.topbar .container {
  padding: 20px 0 20px 0;
  background: #2378BA;
  color: white;
  font-size: 15px;
}
.topbar .container a:link {
  color: white;
}
.topbar .container a:visited {
  color: white;
}
.topbar .container > p {
  float: left;
  margin: 0 0 0 20px;
}
.topbar .container > ul {
  float: right;
  margin: 0 20px 0 0;
}
.topbar .container > ul > li {
  float: left;
  cursor: pointer;
}
.topbar .container > ul .separator {
  float: left;
  margin: 0 10px 0 10px;
}
.topbar .quantityIn {
  color: #D2291E;
}
.topbar .my_cart {
  position: relative;
}
.topbar .my_cart:hover .cart_panel {
  display: block;
}
.topbar .cart_panel {
  position: absolute;
  right: 0;
  top: 30px;
  width: 100px;
  padding: 15px;
  color: black;
  background: white;
  border-radius: 4px;
  display: none;
  z-index: 99;
}
/**/
#main {
  z-index: -1;
}
.banner {
  height: 150px;
  overflow: hidden;
}
.banner > ul > a {
  width: 180px;
  height: 95px;
  display: block;
  border: 1px solid lightgrey;
}
.banner a:visited {
  color: black;
}
.banner .label {
  width: 42px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
  background: #FF5A44;
}
.banner p {
  color: black;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.footer .container {
  padding: 50px 0 50px 0;
  background: #F2F2F2;
  overflow: hidden;
}
.footer .container a {
  margin: 0 0 0 40px;
  font-size: 14px;
  color: #999999;
}
.footer .container a:link {
  color: #999999;
  text-decoration: none;
}
.footer .container a:visited {
  color: #999999;
}
.footer .container a:hover {
  color: #0081BC;
}
.footer .container a:active {
  color: #0081BC;
}
.footer .container > li {
  float: left;
  width: 200px;
}
.footer .container > li > h4 {
  margin: 0 0 20px 40px;
  font-size: 14px;
  color: black;
  font-weight: normal;
}
.footer .container > li p {
  font-size: 14px;
  color: #999999;
}
.footer .container > li:last-child h4 {
  margin: 0 0 20px 0;
}
.footer .container .serviceTel {
  font-size: 20px;
  color: black;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.copyright {
  background: #F2F2F2;
  color: grey;
  font-size: 14px;
}
.copyright .container {
  padding: 20px 0 20px 0;
  border-top: 1px solid lightgrey;
}
.copyright p {
  width: 100%;
  text-align: center;
}
