a:link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  display: block;
  border: none;
  cursor: pointer;
}
body {
  font-family: '微软雅黑';
}
/**/
.wrapper {
  width: 100%;
  min-width: 1000px;
}
.container {
  width: 1000px;
  margin: auto;
}
.row {
  width: 1000px;
  margin: auto;
}
.clear {
  clear: both;
}
/* back_to_top button */
.back_to_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: lightgrey;
  z-index: 100;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
/* searchbar */
.searchbar {
  height: 120px;
  background: -webkit-linear-gradient(white, #E5E5E5);
  background: linear-gradient(white, #E5E5E5);
  overflow: hidden;
}
.searchbar .search_box {
  width: 600px;
  height: 40px;
  margin: 40px auto 0 auto;
  border-radius: 20px;
  border: 1px solid lightgrey;
  background: white;
  box-shadow: inset 0 2px 5px lightgrey;
}
.searchbar .search_box input {
  float: left;
  width: 400px;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  margin: 10px 0 0 40px;
  color: grey;
  border: none;
}
.searchbar .search_box .search_btn {
  float: right;
  width: 50px;
  height: 32px;
  margin: 4px 20px 0 0;
  border-radius: 16px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #B2B2B2;
}
.searchbar .search_box .search_btn:visited {
  color: #B2B2B2;
}
.searchbar .search_box .search_btn:hover {
  background: #ECE9D8;
}
/**/
.line {
  height: 4px;
  background: -webkit-linear-gradient(left, #D2AB1A, #337FAB);
  background: linear-gradient(to right, #D2AB1A, #337FAB);
}
.shade {
  width: 100%;
  min-width: 1000px;
  box-shadow: 0 0 40px 35px grey;
}
/**/
.topbar {
  position: relative;
  background: #2378BA;
}
.topbar .container {
  padding: 20px 0 20px 0;
  background: #2378BA;
  color: white;
  font-size: 15px;
}
.topbar .container a:link {
  color: white;
}
.topbar .container a:visited {
  color: white;
}
.topbar .container > p {
  float: left;
  margin: 0 0 0 20px;
}
.topbar .container > ul {
  float: right;
  margin: 0 20px 0 0;
}
.topbar .container > ul > li {
  float: left;
  cursor: pointer;
}
.topbar .container > ul .separator {
  float: left;
  margin: 0 10px 0 10px;
}
.topbar .quantityIn {
  color: #D2291E;
}
.topbar .my_cart {
  position: relative;
}
.topbar .my_cart:hover .cart_panel {
  display: block;
}
.topbar .cart_panel {
  position: absolute;
  right: 0;
  top: 30px;
  width: 100px;
  padding: 15px;
  color: black;
  background: white;
  border-radius: 4px;
  display: none;
  z-index: 99;
}
/**/
#main {
  z-index: -1;
}
.banner {
  height: 150px;
  overflow: hidden;
}
.banner > ul > a {
  width: 180px;
  height: 95px;
  display: block;
  border: 1px solid lightgrey;
}
.banner a:visited {
  color: black;
}
.banner .label {
  width: 42px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
  background: #FF5A44;
}
.banner p {
  color: black;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.footer .container {
  padding: 50px 0 50px 0;
  background: #F2F2F2;
  overflow: hidden;
}
.footer .container a {
  margin: 0 0 0 40px;
  font-size: 14px;
  color: #999999;
}
.footer .container a:link {
  color: #999999;
  text-decoration: none;
}
.footer .container a:visited {
  color: #999999;
}
.footer .container a:hover {
  color: #0081BC;
}
.footer .container a:active {
  color: #0081BC;
}
.footer .container > li {
  float: left;
  width: 200px;
}
.footer .container > li > h4 {
  margin: 0 0 20px 40px;
  font-size: 14px;
  color: black;
  font-weight: normal;
}
.footer .container > li p {
  font-size: 14px;
  color: #999999;
}
.footer .container > li:last-child h4 {
  margin: 0 0 20px 0;
}
.footer .container .serviceTel {
  font-size: 20px;
  color: black;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.copyright {
  background: #F2F2F2;
  color: grey;
  font-size: 14px;
}
.copyright .container {
  padding: 20px 0 20px 0;
  border-top: 1px solid lightgrey;
}
.copyright p {
  width: 100%;
  text-align: center;
}
#ITEM {
  background: #127BAB;
  overflow: hidden;
}
#ITEM .itemID {
  display: none;
}
#ITEM .item {
  padding: 0 0 30px 0;
  margin-top: 30px;
  background: white;
  overflow: hidden;
}
#ITEM .item .header {
  margin: 15px 20px 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
#ITEM .item .header a:link {
  color: black;
}
#ITEM .item .header a:visited {
  color: black;
}
#ITEM .item .images {
  float: left;
  margin: 0 0 0 20px;
}
#ITEM .item .images .thumbnail {
  width: 464px;
  height: 464px;
  padding: 2px;
  border: 1px solid lightgrey;
}
#ITEM .item .images .thumbnail img {
  width: 100%;
}
#ITEM .item .images .tabs {
  width: 256px;
  margin: auto;
}
#ITEM .item .images .tabs li {
  float: left;
  width: 54px;
  height: 54px;
  margin: 4px 2px 4px 2px;
  padding: 2px;
  border: 1px solid lightgrey;
}
#ITEM .item .images .tabs li img {
  width: 100%;
}
#ITEM .item .images .tabs li:hover {
  background: #DD4A4D;
}
#ITEM .information {
  float: left;
  width: 470px;
  margin: 0 0 0 20px;
  overflow: hidden;
}
#ITEM .information .name {
  padding: 15px 0 15px 0;
  font-size: 200%;
}
#ITEM .information .priceWrapper {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid lightgrey;
  color: #DD4A4D;
  font-size: 40px;
  font-family: helvetica;
}
#ITEM .information .priceWrapper .price {
  font-size: 50px;
  color: #DF4949;
}
#ITEM .information .buy {
  float: left;
  width: 187px;
  height: 45px;
  margin: 0 20px 0 0;
  line-height: 45px;
  text-align: center;
  background: #DD4A4D;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
#ITEM .information .buy:hover {
  background: #CC3134;
}
#ITEM .information .toCart {
  float: left;
  width: 183px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  background: white;
  border: 2px solid #DD4A4D;
  color: #DD4A4D;
  cursor: pointer;
  border-radius: 5px;
}
#ITEM .information .toCart:hover {
  color: #CC3134;
  border: 2px solid #CC3134;
}
#ITEM .shuliang {
  padding: 30px 0 30px 0;
}
#ITEM .shuliang p {
  float: left;
  height: 30px;
  vertical-align: top;
  line-height: 30px;
}
#ITEM .shuliang .counter {
  overflow: hidden;
}
#ITEM .shuliang .counter .minus,
#ITEM .shuliang .counter .plus {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid lightgrey;
  line-height: 28px;
  text-align: center;
  background: #F4F4F4;
  cursor: pointer;
}
#ITEM .shuliang .counter .quantity {
  float: left;
  width: 49px;
  height: 28px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  line-height: 28px;
  text-align: center;
}
#ITEM .shuliang .counter .minus:hover,
#ITEM .shuliang .counter .plus:hover {
  border: 1px solid #DD4A4D;
  color: #DD4A4D;
}
#ITEM .box {
  margin: 30px auto 40px auto;
}
#ITEM .box .box-header {
  height: 60px;
  background: white;
  overflow: hidden;
  border-bottom: 1px solid #BABABA;
}
#ITEM .box .box-header > h1 {
  float: left;
  margin: 5px 20px 0 30px;
  color: white;
}
#ITEM .box .box-header > p {
  float: right;
  margin: 20px 20px 0 0;
  color: white;
}
#ITEM .box .tab > li {
  float: left;
  margin: 20px;
  color: #127BAB;
  cursor: pointer;
}
#ITEM .box .tab > li.active {
  border-bottom: 4px solid orange;
}
#ITEM .box .content {
  position: relative;
}
#ITEM .box .content > li {
  width: 960px;
  background: white;
  padding: 20px;
}
#ITEM .box .content > li:first-child {
  display: block;
}
#ITEM .box .content img {
  margin-bottom: 20px;
}
