.shopping-cart {
  background: #127BAB;
  overflow: hidden;
}
.shopping-cart .container {
  margin: 40px auto 100px auto;
  color: grey;
  font-size: 80%;
}
.shopping-cart .shopping-cart-header1 {
  width: 100%;
  padding: 10px 0 10px 0px;
  text-indent: 20px;
  background: #127BAB;
  color: white;
  font-size: 18px;
}
.shopping-cart .shopping-cart-header2 {
  width: 100%;
  padding: 10px 0 10px 0;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
  background: white;
}
.shopping-cart .item {
  width: 1000px;
  padding: 20px 0 20px 0;
  background: white;
  border-bottom: 1px solid lightgrey;
  overflow: hidden;
}
.shopping-cart .check {
  float: left;
  margin: 0 10px 0 10px;
}
.shopping-cart .thumbnail {
  float: left;
  width: 80px;
  margin: 0 10px 0 0;
}
.shopping-cart .thumbnail img {
  width: 80px;
}
.shopping-cart .name {
  float: left;
  width: 200px;
  margin: 0 10px 0 0;
}
.shopping-cart .spec {
  float: left;
  width: 200px;
  margin: 0 10px 0 0;
  height: 100%;
}
.shopping-cart .price {
  float: left;
  width: 100px;
  margin: 0 10px 0 0;
}
.shopping-cart .counter {
  float: left;
  width: 120px;
  margin: 0 10px 0 0;
}
.shopping-cart .counter .minus {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid lightgrey;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  background: #F4F4F4;
  color: black;
  font-weight: bold;
}
.shopping-cart .counter .quantity {
  float: left;
  width: 50px;
  height: 28px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  line-height: 28px;
}
.shopping-cart .counter .plus {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid lightgrey;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  background: #F4F4F4;
  color: black;
  font-weight: bold;
}
.shopping-cart .subtotal {
  float: left;
  width: 100px;
  margin: 0 10px 0 0;
}
.shopping-cart .manipulation {
  float: left;
  width: 100px;
}
.shopping-cart .delete {
  cursor: pointer;
}
.shopping-cart .delete:hover {
  color: #C81623;
}
.shopping-cart .concern {
  cursor: pointer;
}
.shopping-cart .concern:hover {
  color: #C81623;
}
.shopping-cart .summary {
  float: right;
  padding: 10px 0 20px 0;
}
.shopping-cart .summary > li {
  float: left;
  height: 40px;
  margin: 0 0 0 20px;
}
.shopping-cart .summary > li:nth-child(1) {
  height: 48px;
  line-height: 48px;
  margin-top: 10px;
  font-size: 16px;
}
.shopping-cart .summary > li:nth-child(2) {
  height: 48px;
  line-height: 48px;
  margin-top: 10px;
  font-size: 16px;
}
.shopping-cart .totalQuantity {
  color: #C81623;
}
.shopping-cart .summary .note {
  color: #C81623;
}
.shopping-cart .totalPrice {
  color: #C81623;
}
.shopping-cart .summary .checkout {
  width: 164px;
  height: 48px;
  margin: 10px 15px 0 15px;
  background: #DD4A4D;
  color: white;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}
.shopping-cart .summary .checkout:hover {
  background: #CC3134;
}
