.SIGN_IN {
	overflow:hidden;background:linear-gradient(#E2E2E4,#E0E0E2);

	input.active {border:1px solid blue!important;box-shadow:0 0 5px blue;}
	input.success {border:1px solid #69B91F!important;box-shadow:0 0 3px #69B91F;}
	input.error {border:1px solid #D2291E!important;box-shadow:0 0 3px #D2291E;}

	.shade1 {height:100px;overflow:hidden;}
	.shade1>div {box-shadow:0 0 50px 35px grey;}

	.panel {position:relative;height:600px;border-radius:5px;background:white;box-shadow:0 0 10px lightgrey;margin:auto;margin-bottom:150px;overflow:hidden;}
	.panel input[type="text"],[type="password"] {width:377px;height:51px;border-radius:5px;border:1px solid grey;text-indent:10px;font-size:100%;}
	.panel form p {height:20px;color:#D2291E;font-size:90%;line-height:20px;text-indent:10px;}
	.middle-line {position:absolute;top:0;left:50%;width:1px;height:100%;background:linear-gradient(white,lightgrey,white)}
	/*-------------------------------------------------------------------------------------------------------------------------*/
	.register {position:relative;width:50%;float:left;}
	.register-center {width:380px;margin:auto;}
	.register-header {width:100%;height:100px;overflow:hidden;}
	.register-header>h1 {text-align:center;margin:20px 0 0 0;}
	.register-button {width:257px;height:53px;border-radius:26.5px;background:#2B9DD5;margin:auto;margin-top:20px;color:white;text-align:center;line-height:53px;font-size:1.2em;cursor:pointer;}
	.register-button:hover {background:#0379C8}
	/*-------------------------------------------------------------------------------------------------------------------------*/
	.login {position:relative;width:50%;float:left;}
	.login-center {width:380px;margin:auto;}
	.login-header {width:100%;height:100px;overflow:hidden;}
	.login-header>h1 {text-align:center;margin:20px 0 0 0;}
	.login-button {width:257px;height:53px;margin:auto;margin-top:20px;border-radius:26.5px;background:#2B9DD5;color:white;text-align:center;line-height:53px;font-size:1.2em;cursor:pointer;}
	.login-button:hover {background:#0379C8}
}