* {
  margin: 0;
  padding: 0;
}
body {
  background: #CC3636;
}
#logo {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 100px;
  background-color: #CC3636;
}
#template {
  stroke-width: 1px;
  stroke: #FFF;
  fill: #A39161;
}
.blue {
  stroke: #FFF;
  fill: #003876;
}
.text-stroke {
  fill: #FFF;
  -webkit-animation: text 2s forwards;
          animation: text 2s forwards;
}
.text-fill {
  fill: #A39161;
  -webkit-animation: text 4s forwards;
          animation: text 4s forwards;
}
@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#cannon {
  stroke-dasharray: 250;
}
@-webkit-keyframes cannon {
  0% {
    stroke-dashoffset: 250;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #A39161;
  }
}
@keyframes cannon {
  0% {
    stroke-dashoffset: 250;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #A39161;
  }
}
#cannon-fill {
  fill: #A39161;
  opacity: 0;
}
#wheel {
  stroke: #FFF;
  fill: #A39161;
  -webkit-animation: 4s wheel forwards;
          animation: 4s wheel forwards;
}
@-webkit-keyframes wheel {
  0% {
    stroke-dasharray: 10;
  }
  100% {
    stroke-dasharray: 150;
  }
}
@keyframes wheel {
  0% {
    stroke-dasharray: 10;
  }
  100% {
    stroke-dasharray: 150;
  }
}
