.wrapper {position:absolute;left:0;top:0;width:7.20rem;height:12.80rem;background:#EFEFEF;}

.tabs {width:7.20rem;height:0.82rem;background:white;}
.tabs li {width:2.18rem;height:0.80rem;float:left;text-align:center;line-height:0.80rem;font-size:0.2rem;margin:0 0.10rem 0 0.10rem;color:grey;cursor:pointer}
.tabs .selected {color:#66CC66!important;border-bottom:0.02rem solid #66CC66;}
.tabs li:nth-child(2):before,
.tabs li:nth-child(3):before {content:"";display:block;position:absolute;top:0.25rem;width:0.01rem;height:0.30rem;background:grey;}

.circle {position:relative;width:1.60rem;height:1.60rem;border-radius:50%;background:#CCCCCC;margin:auto;margin-top:1.50rem;overflow:hidden;}
.coupon {width:0.9rem;display:block;margin:0 auto;margin-top:.35rem;}
.tip {position:relative;width:7.20rem;text-align:center;margin-top:.30rem;font-size:0.32rem;color:grey;}