@import "http://webfonts.ru/import/nautilus.css";
html {
  background: #0BA2FF;
}

.text {
  font-family: 'Nautilus Pompilius';
  font-size: 7vw;
  color: #FFD585;
  position: absolute;
  text-shadow: 0 2px 0 #6F4D06;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

canvas {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#snow-top {
  z-index: 3;
}

#snow-blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  z-index: 4;
}
