* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html {
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
}
img {
  display: block;
}
@keyframes toLeft {
  40% {
    transform: translate3d(-700px, 100px, -300px);
  }
  100% {
    transform: translate3d(-600px, 200px, -800px);
    opacity: 0.5;
  }
}
@keyframes toRight {
  40% {
    transform: translate3d(700px, 100px, -300px);
  }
  100% {
    transform: translate3d(600px, 200px, -800px);
    opacity: 0.5;
  }
}
@keyframes toCenter {
  100% {
    transform: ;
    opacity: 1;
  }
}
.clear {
  clear: both;
}
.app-header {
  background: #0F64C0;
}
.app-header ._navbar {
  overflow: hidden;
}
.app-header ._navbar .logo {
  float: left;
  padding-top: 15px;
  color: white;
  display: block;
}
.app-header ._navbar .logo p:nth-child(1) {
  font-size: 20px;
}
.app-header ._navbar .logo p:nth-child(2) {
  font-size: 16px;
}
.app-header ._navbar .logo .queen {
  font-size: 10px;
}
.app-header ._navbar ._nav {
  overflow: hidden;
  float: right;
}
.app-header ._navbar ._nav a:link {
  float: left;
  width: 80px;
  height: 80px;
  padding: 15px 10px 0 10px;
  text-align: center;
  color: white;
}
.app-header ._navbar ._nav a:link img {
  height: 32px;
  display: inline-block;
}
.app-header ._navbar ._nav a:visited {
  color: white;
}
.app-header ._navbar ._nav a:hover {
  color: white;
  background: #0D9EED;
}
.home .swiper {
  position: relative;
  width: 100%;
  height: 481px;
  overflow: hidden;
}
.home .swiper .train {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  overflow: hidden;
}
.home .swiper .train li {
  float: left;
  width: 33.33333333%;
  height: 481px;
}
.home .swiper .centered {
  position: absolute;
  left: 50%;
  top: 80%;
}
.home .swiper .centered .tabs {
  margin-left: -40px;
}
.home .swiper .centered .tabs li {
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 14px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
  display: inline;
}
.home .swiper .centered .tabs li.active {
  background: #0F64C0;
}
.home .showcase {
  overflow: hidden;
}
.home .showcase p {
  padding: 30px 0 10px 0;
  font-size: 20px;
  color: #0F64C0;
  font-weight: bold;
}
.home .showcase .pic {
  position: relative;
  float: left;
  padding: 10px;
  margin: 20px 40px 20px 40px;
  box-shadow: 0 0 8px grey;
  background: white;
}
.home .showcase .pic img {
  width: 400px;
}
.home .showcase .pic:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: rotate(1deg);
  background: white;
  box-shadow: 0 0 8px grey;
  z-index: -1;
}
.home .showcase .pic:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  transform: rotate(-2deg);
  background: white;
  box-shadow: 0 0 8px grey;
  z-index: -2;
}
.home .bottom h1 {
  padding: 40px 0 40px 0;
  text-align: center;
  color: orange;
}
.home .bottom h3 {
  text-align: center;
  color: white;
}
.home .bottom .animation {
  position: relative;
  width: 465px;
  height: 250px;
  margin: 40px auto 60px auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.home .bottom .animation li {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  background: orange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.home .bottom .animation li p {
  font-size: 20px;
}
.home .bottom .animation .i0 {
  transform: translate3d(-600px, 50px, -800px);
  opacity: 0.5;
  z-index: -1;
}
.home .bottom .animation .i2 {
  transform: translate3d(600px, 50px, -800px);
  opacity: 0.5;
  z-index: -1;
}
.home .bottom .panel {
  width: 930px;
  padding: 15px;
  margin: auto;
  background: white;
}
.home .bottom .panel .top {
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px dotted grey;
  margin-bottom: 15px;
}
.home .bottom .panel .bottom {
  overflow: hidden;
}
.home .bottom .panel .left {
  float: left;
  width: 20%;
}
.home .bottom .panel .left p {
  width: 114px;
  height: 72px;
  border-radius: 5px;
  line-height: 72px;
  text-align: center;
  color: white;
  background: orange;
}
.home .bottom .panel .right {
  float: left;
  width: 80%;
}
.brand img {
  margin: 5px auto;
}
.brand p {
  padding: 5px 0 5px 0;
}
.brand .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.brand .title .chinese {
  padding: 10px 0 10px 0;
  font-size: 25px;
  color: #0F64C0;
}
.brand .title .english {
  padding-bottom: 20px;
  font-size: 20px;
  color: #0F64C0;
}
.brand .container > p {
  font-size: 14px;
  text-indent: 28px;
}
.products {
  overflow: hidden;
}
.products .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.products ul {
  margin-top: 50px;
  margin-bottom: 50px;
}
.products ul li {
  padding: 20px 0 20px 0;
  border-bottom: 1px dotted grey;
  overflow: hidden;
}
.products ul li img {
  float: left;
  width: 300px;
}
.products ul li .right {
  float: right;
  width: 670px;
}
.products ul li .right .title {
  margin-bottom: 15px;
  font-size: 25px;
  color: #0F64C0;
  display: inline-block;
}
.contactUs .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.contactUs .main {
  margin-top: 50px;
  margin-bottom: 100px;
}
.contactUs .main .panel {
  float: left;
  width: 50%;
}
.contactUs .main .panel .top {
  overflow: hidden;
}
.contactUs .main .panel .top .left {
  float: left;
  width: 40%;
}
.contactUs .main .panel .top .right {
  float: left;
  width: 60%;
}
.contactUs .main .panel .top .right img {
  width: 50%;
  display: block;
}
.contactUs .main .panel .photo {
  margin-top: 20px;
  display: block;
}
.joinUs {
  margin-top: 50px;
  margin-bottom: 100px;
}
.joinUs h1 {
  color: #0F64C0;
  text-align: center;
}
.footer {
  font-size: 13px;
  color: white;
  background: #0F64C0;
}
.footer ul {
  padding-bottom: 15px;
}
.footer ul li {
  float: left;
}
.footer ul .title {
  padding: 10px 0 10px 0;
  font-size: 18px;
}
.footer ul .left .more:link {
  float: left;
  width: 130px;
  height: 35px;
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 3px;
  line-height: 35px;
  font-size: 13px;
  color: white;
  text-align: center;
  display: block;
}
.footer ul .left .more:visited {
  color: white;
}
.footer .copyright {
  padding: 10px 0 10px 0;
  border-top: 1px solid white;
  margin-top: 15px;
}
