* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html {
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1000px;
  margin: auto;
}
.nav-bar {
  overflow: hidden;
}
.nav-bar img {
  float: left;
  height: 100px;
  display: block;
}
.nav-bar .nav {
  margin-top: 20px;
  overflow: hidden;
  float: right;
}
.nav-bar .nav a:link {
  float: left;
  height: 30px;
  padding: 0 20px 0 20px;
  line-height: 30px;
  border-radius: 15px;
  color: black;
}
.nav-bar .nav a:visited {
  color: black;
}
.nav-bar .nav a:hover {
  color: white;
  background: #0D9EED;
}
.showcase h1 {
  text-align: center;
}
.showcase ul {
  overflow: hidden;
}
.showcase ul li {
  position: relative;
  float: left;
  width: 220px;
  height: 220px;
  margin: 10px;
  border: 1px solid lightgrey;
  overflow: hidden;
}
.showcase ul li .veil {
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  height: 60px;
  background: black;
  opacity: 0.5;
  transition: 0.3s;
}
.showcase ul li:hover .veil {
  bottom: 0;
}
.products {
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 0 8px grey;
  overflow: hidden;
}
.footer {
  padding: 15px 0 15px 0;
  color: white;
  text-align: center;
  background: #008FD3;
}
