* {
  margin: 0;
  padding: 0;
}
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html {
  font-family: "微软雅黑";
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
img {
  display: block;
}
@keyframes toLeft {
  40% {
    transform: translate3d(-700px, 100px, -300px);
  }
  100% {
    transform: translate3d(-600px, 200px, -800px);
    opacity: 0.5;
  }
}
@keyframes toRight {
  40% {
    transform: translate3d(700px, 100px, -300px);
  }
  100% {
    transform: translate3d(600px, 200px, -800px);
    opacity: 0.5;
  }
}
@keyframes toCenter {
  100% {
    transform: ;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
}
.clear {
  clear: both;
}
.app-header {
  background: #0F64C0;
}
.app-header ._navbar {
  height: 90px;
  overflow: hidden;
}
.app-header ._navbar .logo {
  float: left;
  padding-top: 15px;
  color: white;
  display: block;
}
.app-header ._navbar .logo p:nth-child(1) {
  font-size: 20px;
}
.app-header ._navbar .logo p:nth-child(2) {
  font-size: 16px;
}
.app-header ._navbar .logo .queen {
  font-size: 10px;
}
.app-header ._navbar ._nav {
  overflow: hidden;
  float: right;
}
.app-header ._navbar ._nav a:link {
  float: left;
  width: 70px;
  height: 90px;
  padding: 15px 0 10px 0;
  text-align: center;
  color: white;
}
.app-header ._navbar ._nav a:link img {
  height: 32px;
  display: inline-block;
}
.app-header ._navbar ._nav a:visited {
  color: white;
}
.app-header ._navbar ._nav a:hover {
  color: white;
  background: #0D9EED;
}
.app-header ._navbar ._toggle {
  float: right;
  margin-top: 25px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
._dropdown-menu {
  display: none;
}
._dropdown-menu a:link {
  padding: 10px 15px 10px 15px;
  border-top: 1px solid white;
  background: #1C66C5;
  color: white;
  display: block;
}
._dropdown-menu a:hover {
  background: lightblue;
}
._dropdown-menu a:visited {
  color: white;
}
.home .swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.home .swiper .train {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  overflow: hidden;
}
.home .swiper .train li {
  float: left;
  width: 33.33333333%;
  overflow: hidden;
}
.home .swiper .train li img {
  width: 180%;
  margin-left: -40%;
  display: block;
}
.home .swiper .centered {
  position: absolute;
  left: 50%;
  top: 80%;
}
.home .swiper .centered .tabs {
  margin-left: -40px;
}
.home .swiper .centered .tabs li {
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 14px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
  display: inline;
}
.home .swiper .centered .tabs li.active {
  background: #0F64C0;
}
.home .showcase {
  overflow: hidden;
}
.home .showcase p {
  padding: 30px 0 10px 0;
  font-size: 20px;
  color: #0F64C0;
  font-weight: bold;
}
.home .showcase .pic {
  position: relative;
  float: left;
  width: 90%;
  padding: 10px;
  margin: auto;
  margin: 20px auto 20px auto;
  box-shadow: 0 0 8px grey;
  background: white;
}
.home .showcase .pic img {
  width: 100%;
}
.home .showcase .pic:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: rotate(1deg);
  background: white;
  box-shadow: 0 0 8px grey;
  z-index: -1;
}
.home .showcase .pic:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  transform: rotate(-2deg);
  background: white;
  box-shadow: 0 0 8px grey;
  z-index: -2;
}
.home .knowUs {
  overflow: hidden;
}
.home .knowUs h1 {
  padding: 40px 0 40px 0;
  text-align: center;
  color: orange;
}
.home .knowUs h3 {
  text-align: center;
  color: white;
}
.home .knowUs .animation {
  position: relative;
  width: 465px;
  height: 250px;
  margin: 40px auto 60px auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.home .knowUs .animation li {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  background: orange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.home .knowUs .animation li p {
  font-size: 20px;
}
.home .knowUs .animation .i0 {
  transform: translate3d(-600px, 50px, -800px);
  opacity: 0.5;
  z-index: -1;
}
.home .knowUs .animation .i2 {
  transform: translate3d(600px, 50px, -800px);
  opacity: 0.5;
  z-index: -1;
}
.home .knowUs ._panel {
  width: 95%;
  padding: 15px;
  margin: auto;
  background: white;
}
.home .knowUs ._panel .top {
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px dotted grey;
  margin-bottom: 15px;
}
.home .knowUs ._panel .bottom {
  overflow: hidden;
}
.home .knowUs ._panel .left {
  float: left;
  width: 20%;
}
.home .knowUs ._panel .left p {
  width: 114px;
  border-radius: 5px;
  line-height: 72px;
  text-align: center;
  color: white;
  background: orange;
}
.home .knowUs ._panel .right {
  float: left;
  width: 80%;
}
.brand img {
  margin: 5px auto;
}
.brand p {
  padding: 5px 0 5px 0;
}
.brand .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.brand .title p {
  margin: 0;
  padding: 0;
}
.brand .title .chinese {
  padding: 1rem 0 0 0;
  font-size: 2.4rem;
  color: #0F64C0;
}
.brand .title .english {
  padding-bottom: 1rem;
  font-size: 1.8rem;
  color: #0F64C0;
}
.brand .container > p {
  font-size: 14px;
  text-indent: 28px;
}
.brand .main img {
  width: 100%;
}
.products {
  overflow: hidden;
}
.products .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.products ul {
  margin-top: 50px;
  margin-bottom: 50px;
}
.products ul li {
  padding: 15px 0 15px 0;
  border-bottom: 1px dotted grey;
  overflow: hidden;
}
.products ul li img {
  float: left;
  width: 30%;
}
.products ul li .right {
  float: right;
  width: 70%;
  padding-left: 15px;
}
.products ul li .right .title {
  margin-bottom: 10px;
  font-size: 25px;
  color: #0F64C0;
  display: inline-block;
}
.contactUs .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.contactUs .main {
  margin-top: 50px;
  margin-bottom: 100px;
}
.contactUs .main .panel {
  float: left;
}
.contactUs .main .panel .top {
  overflow: hidden;
}
.contactUs .main .panel .top .left {
  float: left;
  width: 40%;
}
.contactUs .main .panel .top .right {
  float: left;
  width: 60%;
}
.contactUs .main .panel .top .right img {
  width: 50%;
  display: block;
}
.contactUs .main .panel .photo {
  margin-top: 20px;
  display: block;
}
.joinUs {
  margin-top: 50px;
  margin-bottom: 100px;
}
.joinUs h1 {
  color: #0F64C0;
  text-align: center;
}
.footer {
  font-size: 13px;
  color: white;
  background: #0F64C0;
}
.footer ul {
  overflow: hidden;
  padding-bottom: 15px;
}
.footer ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer ul .title {
  padding: 10px 0 10px 0;
  font-size: 18px;
}
.footer ul .left .bottom {
  overflow: hidden;
}
.footer ul .left .more:link {
  float: left;
  width: 130px;
  height: 35px;
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 3px;
  line-height: 35px;
  font-size: 13px;
  color: white;
  text-align: center;
  display: block;
}
.footer ul .left .more:visited {
  color: white;
}
.footer ul .right .footerImg {
  margin: 15px auto 0 auto;
}
.footer .copyright {
  padding: 15px 0 15px 0;
  border-top: 1px solid white;
  margin-top: 15px;
}
