* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html {
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1000px;
  margin: auto;
}
.clear {
  clear: both;
}
.app-header {
  background: #0F64C0;
}
.app-header .nav-bar {
  height: 95px;
  overflow: hidden;
}
.app-header .nav-bar .logo {
  float: left;
  padding: 20px 0 0 0;
  color: white;
  display: block;
}
.app-header .nav-bar .logo p:nth-child(1) {
  font-size: 20px;
}
.app-header .nav-bar .logo p:nth-child(2) {
  font-size: 16px;
}
.app-header .nav-bar .nav {
  overflow: hidden;
  float: right;
}
.app-header .nav-bar .nav a:link {
  float: left;
  width: 70px;
  height: 80px;
  padding: 15px 10px 0 10px;
  text-align: center;
  color: white;
}
.app-header .nav-bar .nav a:link img {
  height: 32px;
  display: inline-block;
}
.app-header .nav-bar .nav a:visited {
  color: white;
}
.app-header .nav-bar .nav a:hover {
  color: white;
  background: #0D9EED;
}
.showcase h1 {
  text-align: center;
}
.showcase ul {
  overflow: hidden;
}
.showcase ul li {
  position: relative;
  float: left;
  width: 220px;
  height: 220px;
  margin: 10px;
  border: 1px solid lightgrey;
  overflow: hidden;
}
.showcase ul li .veil {
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  height: 60px;
  background: black;
  opacity: 0.5;
  transition: 0.3s;
}
.showcase ul li:hover .veil {
  bottom: 0;
}
.brand img {
  margin: auto;
}
.brand .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.brand .title .chinese {
  padding: 10px 0 10px 0;
  font-size: 25px;
  color: #0F64C0;
}
.brand .title .english {
  padding-bottom: 20px;
  font-size: 20px;
  color: #0F64C0;
}
.brand .container > p {
  font-size: 14px;
  text-indent: 28px;
}
.products {
  overflow: hidden;
}
.products .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.products ul {
  margin-top: 50px;
  margin-bottom: 50px;
}
.products ul li {
  padding: 20px 0 20px 0;
  border-bottom: 1px dotted grey;
  overflow: hidden;
}
.products ul li img {
  float: left;
  width: 300px;
}
.products ul li .right {
  float: right;
  width: 670px;
}
.products ul li .right .title {
  margin-bottom: 15px;
  font-size: 25px;
  color: #0F64C0;
  display: inline-block;
}
.contactUs .banner {
  padding: 10px 0 10px 0;
  font-size: 24px;
  color: #0f64c0;
  background: #E5E5E5;
}
.contactUs .main {
  margin-top: 50px;
  margin-bottom: 100px;
}
.contactUs .main .panel {
  float: left;
  width: 50%;
}
.joinUs {
  margin-top: 50px;
  margin-bottom: 100px;
}
.joinUs h1 {
  color: #0F64C0;
  text-align: center;
}
.footer {
  font-size: 13px;
  color: white;
  background: #0F64C0;
}
.footer ul {
  padding-top: 20px;
}
.footer ul li {
  float: left;
  margin-right: 60px;
}
.footer ul .title {
  padding: 10px 0 20px 0;
  font-size: 18px;
}
.footer ul .left {
  width: 360px;
}
.footer ul .left .more:link {
  float: left;
  width: 130px;
  height: 35px;
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 3px;
  line-height: 35px;
  font-size: 13px;
  text-align: center;
  display: block;
}
.footer ul .left .more:visited {
  color: white;
}
.footer ul .footerImg {
  float: right;
}
.footer .copyright {
  padding: 10px 0 10px 0;
  border-top: 1px solid white;
  margin-top: 15px;
}
