@-webkit-keyframes up {
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, -180deg);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, -180deg);
  }
}
@keyframes up {
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, -180deg);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, -180deg);
  }
}
.ka-up {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: 1s up forwards ease-in;
          animation: 1s up forwards ease-in;
}
@-webkit-keyframes down {
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 190deg);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 190deg);
  }
}
@keyframes down {
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 190deg);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 190deg);
  }
}
.ka-down {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-animation: 1s down forwards ease-in;
          animation: 1s down forwards ease-in;
}
