.shopping-cart {
  color: grey;
  font-size: 80%;
}
.shopping-cart .shopping-cart-header1 {
  width: 100%;
  padding: 10px 0 10px 0;
  color: #C81623;
  font-size: 18px;
  border-bottom: 1px solid #C81623;
}
.shopping-cart .shopping-cart-header2 {
  width: 100%;
  padding: 10px 0 10px 0;
  background: #F3F3F3;
  overflow: hidden;
  border-bottom: 1px solid grey;
}
.shopping-cart .item {
  width: 1000px;
  padding: 20px 0 20px 0;
  background: #FFF4E8;
  border-bottom: 1px solid grey;
  overflow: hidden;
}
.shopping-cart .summary {
  float: right;
}
.shopping-cart .summary > li {
  float: left;
  height: 40px;
  margin: 0 0 0 20px;
}
.shopping-cart .summary > li :nth-child(1) {
  padding-top: 10px;
}
.shopping-cart .summary > li :nth-child(2) {
  padding-top: 10px;
}
.shopping-cart .summary .totalQuantity {
  color: #C81623;
}
.shopping-cart .summary .note {
  color: #C81623;
}
.shopping-cart .summary .totalPrice {
  color: #C81623;
}
.shopping-cart .summary .checkout {
  background: #C81623;
  color: white;
  line-height: 40px;
  font-size: 18px;
  padding: 0 15px 0 15px;
  cursor: pointer;
}
.shopping-cart .check {
  float: left;
  margin: 0 10px 0 10px;
}
.shopping-cart .img {
  float: left;
  width: 80px;
  margin: 0 10px 0 0;
}
.shopping-cart .name {
  float: left;
  width: 200px;
  margin: 0 10px 0 0;
}
.shopping-cart .spec {
  float: left;
  width: 200px;
  margin: 0 10px 0 0;
  height: 100%;
}
.shopping-cart .price {
  float: left;
  width: 100px;
  margin: 0 10px 0 0;
}
.shopping-cart .counter {
  float: left;
  width: 120px;
  margin: 0 10px 0 0;
}
.shopping-cart .counter .minus {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  background: #C81623;
  color: white;
}
.shopping-cart .counter .quantity {
  float: left;
  width: 50px;
  height: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
  line-height: 20px;
}
.shopping-cart .counter .plus {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  background: #C81623;
  color: white;
}
.shopping-cart .subtotal {
  float: left;
  width: 100px;
  margin: 0 10px 0 0;
}
.shopping-cart .manipulation {
  float: left;
  width: 100px;
}
.shopping-cart .remove {
  cursor: pointer;
}
.shopping-cart .remove:hover {
  color: #C81623;
}
.shopping-cart .concern {
  cursor: pointer;
}
.shopping-cart .concern:hover {
  color: #C81623;
}
