* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-family: 'Microsoft Yahei';
}
ul {
  list-style: none;
}
img {
  display: block;
}
.swiper,
.swiper1,
.swiper2 {
  position: relative;
  width: 80%;
  margin: 40px auto 0 auto;
  overflow: hidden;
  background: lightgrey;
  box-shadow: 15px 15px 35px grey;
}
.swiper .train,
.swiper1 .train,
.swiper2 .train {
  width: 10000px;
}
.swiper .train .item,
.swiper1 .train .item,
.swiper2 .train .item {
  position: relative;
  float: left;
  z-index: 5;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.swiper .train .item p,
.swiper1 .train .item p,
.swiper2 .train .item p {
  position: absolute;
  left: 0;
  bottom: 0.1rem;
  width: 100%;
  font-size: 0.4rem;
  color: white;
  text-align: center;
  text-shadow: 5px 5px 5px orange;
  z-index: 5;
}
.swiper .train .item img,
.swiper1 .train .item img,
.swiper2 .train .item img {
  width: 100%;
}
.swiper .train .item.active,
.swiper1 .train .item.active,
.swiper2 .train .item.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.swiper .pagination,
.swiper1 .pagination,
.swiper2 .pagination {
  position: absolute;
  z-index: 10;
}
.swiper .pagination li,
.swiper1 .pagination li,
.swiper2 .pagination li {
  width: 0.2rem;
  height: 0.2rem;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  float: left;
  margin: 0.1rem;
  opacity: 0.5;
  cursor: pointer;
}
.swiper .pagination li.active,
.swiper1 .pagination li.active,
.swiper2 .pagination li.active {
  background: orange;
  opacity: 1;
}
.swiper .prev,
.swiper1 .prev,
.swiper2 .prev {
  position: absolute;
  left: 10px;
  bottom: 0px;
  cursor: pointer;
  font-size: 0.3rem;
  color: white;
  z-index: 1;
}
.swiper .prev:hover,
.swiper1 .prev:hover,
.swiper2 .prev:hover {
  color: orange;
}
.swiper .next,
.swiper1 .next,
.swiper2 .next {
  position: absolute;
  right: 10px;
  bottom: 0px;
  cursor: pointer;
  font-size: 0.3rem;
  color: white;
  z-index: 1;
}
.swiper .next:hover,
.swiper1 .next:hover,
.swiper2 .next:hover {
  color: orange;
}
.swiper .runtime {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  background: orange;
}
