* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.container {
  width: 1000px;
  margin: auto;
}
.clear {
  clear: both;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  background: black;
  color: white;
}
.signinBox {
  float: left;
  padding: 20px;
  border: 1px solid grey;
}
.signinBox input {
  width: 300px;
  height: 42px;
  border: 1px solid grey;
  margin-bottom: 20px;
  line-height: 42px;
  text-indent: 10px;
  display: block;
}
.signinBox .a_login {
  width: 300px;
  height: 42px;
  border-radius: 3px;
  background: #AF0000;
  color: white;
  line-height: 42px;
  text-align: center;
  display: block;
}
.signinBox .a_login:hover {
  background: #c40000;
}
.navbar {
  background: #3B5B98;
  overflow: hidden;
}
.navbar li {
  float: left;
  padding: 10px;
}
.navbar li a:link {
  color: white;
}
.navbar li a:visited {
  color: white;
}
.shoppingCart .sc-header {
  padding: 15px 0 15px 0;
  background: lightblue;
  overflow: hidden;
}
.shoppingCart .sc-header li {
  float: left;
  width: 15%;
}
.shoppingCart .item {
  padding: 15px 0 15px 0;
}
.shoppingCart .item ul li {
  float: left;
  width: 15%;
}
