/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-size: 1.4rem;
  font-family: "Microsoft Yahei", "Helvetial", "Rotobo", "Pingfang SC", "Noto Sans Han", "HeiTi SC", "Droid Sans Fallback";
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
}
.clear {
  font-size: 0;
  clear: both;
  height: 0;
  border: 0;
  line-height: 0;
}
img {
  display: block;
}
/*图标字体样式*/
@font-face {
  font-family: 'fontawesome';
  src: url('../../font/fonts/fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'qmsl';
  src: url('../../font/qmsl.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../../font/icomoon.eot?b30uyj');
  src: url('../../font/icomoon.eot?b30uyj#iefix') format('embedded-opentype'), url('../../font/icomoon.ttf?b30uyj') format('truetype'), url('../../font/icomoon.woff?b30uyj') format('woff'), url('../../font/icomoon.svg?b30uyj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.web-icon-font {
  font-family: 'fontawesome';
  font-style: normal;
}
.web-icon-font2 {
  font-family: 'icomoon';
  font-style: normal;
  text-transform: none;
}
.web-icon-font3 {
  font-family: 'qmsl';
  font-style: normal;
  text-transform: none;
}
/*弹性盒子*/
.elasticbox {
  display: -webkit-box;
}
.elasticbox .elasticbox_one {
  -webkit-box-flex: 1;
}
.elasticbox .elasticbox_two {
  -webkit-box-flex: 2;
}
.elasticbox .elasticbox_three {
  -webkit-box-flex: 3;
}
.elasticbox .elasticbox_four {
  -webkit-box-flex: 4;
}
.elasticbox .elasticbox_five {
  -webkit-box-flex: 5;
}
html,
body {
  background: red;
}
/* Media Queries */
@media (min-width: 0px) {
  html,
  body {
    font-size: 8px;
    color: #4A4A4A;
    background: #E5E5E5;
  }
}
@media (min-width: 320px) {
  html,
  body {
    font-size: 10px;
    color: #4A4A4A;
    background: #E5E5E5;
  }
}
@media (min-width: 768px) {
  html,
  body {
    font-size: 14px;
    color: #4A4A4A;
    background: #E5E5E5;
  }
}
/*默认文本框样式*/
.common_text {
  height: 4.8rem;
  line-height: 4.8rem;
  font-size: 1.6rem;
  border: 1px #E5E5E5 solid;
  border-radius: 0.2rem;
  background: #FFFFFF;
  padding: 0 1rem;
  display: block;
}
/*默认按钮1样式*/
.common_btn1 {
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.8rem;
  background: #3CA5F6;
  border: none;
  display: block;
}
/*默认按钮2样式*/
.common_btn2 {
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.8rem;
  background: #CCCCCC;
  border: none;
  display: block;
}
/*默认按钮3样式*/
.common_btn3 {
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #3CA5F6;
  font-size: 1.8rem;
  background: #FFFFFF;
  border: none;
  border-top: 1px #E5E5E5 solid;
  display: block;
}
.page_btn {
  display: block;
  margin: 0 2.8rem;
  height: 4.4rem;
  line-height: 4.4rem;
  background-color: #CCCCCC;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0.2rem;
}
.page_btn2 {
  display: block;
  margin: 0 2.8rem;
  height: 4.4rem;
  line-height: 4.4rem;
  background-color: #3CA5F6;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0.2rem;
}
.page_btn3 {
  display: block;
  margin: 0 2.8rem;
  height: 4.4rem;
  line-height: 4.4rem;
  background-color: #FFFFFF;
  font-size: 1.8rem;
  color: #3CA5F6;
  text-align: center;
  border-radius: 0.2rem;
}
.sm_btn1 {
  border: 1px solid #E5E5E5;
  color: #4A4A4A;
  width: 7.4rem;
  height: 2.6rem;
  line-height: 2.5rem;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
}
.sm_btn2 {
  border: 1px solid #3CA5F6;
  color: #3CA5F6;
  width: 7.4rem;
  height: 2.6rem;
  line-height: 2.5rem;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
}
.sm_btn3 {
  border: 1px solid #E5E5E5;
  color: #4A4A4A;
  background: #FFFFFF;
  width: 7.4rem;
  height: 2.6rem;
  line-height: 2.5rem;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
}
.sm_font {
  font-style: normal;
}
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w85 {
  width: 85%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
.margin_c {
  margin: 0 auto;
}
.margin_b {
  margin-bottom: 1.2rem;
}
.button_fix {
  position: fixed;
  left: 0;
  bottom: 0;
}
/*默认黑色导航条*/
.statusbar {
  background: #1a1a1a;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: none;
  z-index: 99999;
}
.font-white {
  color: #cccccc;
}
/*移动端loading样式*/
.mask_loading {
  position: fixed;
  left: 50%;
  top: 30%;
  width: 8rem;
  height: 8rem;
  margin-left: -4rem;
  opacity: 0.8;
  background: #4a4a4a;
  border-radius: 0.6rem;
  line-height: 8rem;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  z-index: 99999;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  0% {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.mask_loading .loading_m {
  width: 7rem;
  height: 7rem;
  animation: gogogo 1.4s infinite cubic-bezier(0, 0, 0, 0);
  -webkit-animation: loading 1.4s infinite cubic-bezier(0, 0, 0, 0);
  -o-animation: gogogo 1.4s infinite cubic-bezier(0, 0, 0, 0);
  -moz-animation: gogogo 1.4s infinite cubic-bezier(0, 0, 0, 0);
  background: url(/images/loading_m.png) no-repeat;
  background-size: 7rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
/*城市选择通用样式*/
.select_page {
  width: 100%;
  min-height: 100%;
  background: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
.select_page .select_input {
  width: 100%;
  height: auto;
  background: #EDEDED;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}
.select_page .cancelBtn {
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
}
.select_page .xiaocha {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  right: 20%;
}
.select_page .result_none {
  height: 4.5rem;
  line-height: 4.5rem;
  background: #EDEDED;
  padding-left: 2.3rem;
}
.select_page dt {
  width: 100%;
  height: 4.2rem;
  line-height: 4.2rem;
  font-size: 1.6rem;
  color: #FFFFFF;
  background: #3CA5F6;
  padding-left: 3rem;
}
.select_page dd {
  width: 100%;
  height: 4.2rem;
  line-height: 4.2rem;
  border-bottom: 1px #E5E5E5 solid;
  padding-left: 4rem;
}
.select_page .appendclass {
  padding-left: 2.3rem;
  color: #3CA5F6;
}
.select_page .appendclass span {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.1rem;
  text-align: center;
  color: #3CA5F6;
  border: 1px #3CA5F6 solid;
  border-radius: 50%;
  display: inline-block;
}
.err_alert {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  height: 4.4rem;
  line-height: 4.4rem;
  background: rgba(74, 74, 74, 0.8);
  color: #F23B3B;
  padding: 0 10px;
  border-radius: 0.2rem;
  max-width: 80%;
  text-align: center;
}
.upload_sure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  z-index: 1000;
}
.upload_sure .img_tit {
  height: 3rem;
  background: #fff;
  line-height: 3rem;
  padding-left: 1rem;
}
.upload_sure .img_tit .web-icon-font3 {
  font-size: 2rem;
  color: #2686bd;
  display: inline-block;
}
.upload_sure .img_tit .web-icon-font3 strong {
  font-size: 1.2rem;
  float: right;
  color: #4a4a4a;
  margin: 0 0.7rem 0 0.7rem;
}
.upload_sure .img_tit .web-icon-font3 em {
  font-style: normal;
  font-size: 0.8rem;
  float: right;
  color: #9b9b9b;
  margin-top: 0.2rem;
}
.upload_sure img {
  width: 100%;
}
.upload_sure canvas {
  width: 100%;
}
.upload_sure .img_button {
  height: 4rem;
  line-height: 4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  color: #2686bd;
  box-shadow: 0px 0px 2px #9b9b9b;
  z-index: 100;
}
.upload_sure .img_button div {
  width: 50%;
  float: left;
}
.upload_sure .img_button div:active {
  background: #f5f5f5;
}
