* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

.hero {
	position: relative;
	width: 100%; height: 30vw;
	background-color: #d9edfd;
	overflow: hidden;
	.logo {
		position: absolute; left: 0; top: 30%;
		z-index: 2;
		width: 100%;
		img {
			width: 20vw;
			display: block;
			margin: 0 auto;
		}
	}
	.parallax-layer {
		position: absolute; left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: 1;
	}
	.bike-1 {
		position: absolute; left: 0; bottom: 20%;
		width: 8vw;
		animation: 6s bike linear infinite;
		z-index: 1;
	}
	.bike-2 {
		position: absolute; left: 0; bottom: 20%;
		width: 8vw;
		animation: 12s bike linear infinite;
		z-index: 1;
	}
	@keyframes bike {
		0% {
			transform: translate3d(-20vw,0,0);
		}
		100% {
			transform: translate3d(150vw,0,0);
		}
	}
}

.grass-1 {
	background: url(../img/parallax/grass_1.png) 0 100% repeat-x;
	background-size: 150%;
	animation: parallax_fg linear 20s infinite both;
}

.grass-2 {
	background: url(../img/parallax/grass_2.png) 0 100% repeat-x;
	background-size: 150%;
	animation: parallax_fg linear 30s infinite both;
}

.grass-3 {
	background: url(../img/parallax/grass_3.png) 0 100% repeat-x;
	background-size: 150%;
	animation: parallax_fg linear 40s infinite both;
}

.layer-4 {
	background: url(../img/parallax/trees_1.png) 0 100% repeat-x;
	background-size: 150%;
	animation: parallax_fg linear 50s infinite both;
}

.layer-5 {
	background: url(../img/parallax/trees_2.png) 0 100% repeat-x;
	background-size: 150%;
	animation: parallax_fg linear 100s infinite both;
}

.layer-6 {
	background: url(../img/parallax/trees_3.png) 0 100% repeat-x;
	background-size: 150%;
	animation: parallax_fg linear 120s infinite both;
}

@keyframes parallax_fg {
	0% {
		background-position: 0 100%;
	}
	100% {
		background-position: 300% 100%;
	}
}