* {
	margin: 0; padding: 0;
}

body {
	background: purple;
}

.container {
	width: 100%;
}

.gameboy {
	@num: 2000;
	width: 50%; height: auto; display: block;
	margin: auto;
	background: purple;
	overflow: hidden;
	stroke: white;
	stroke-width: 3;
	stroke-linecap: round;
	animation: stroke 3s linear 0s infinite;
	@keyframes stroke {
		0% {
			stroke-dasharray: @num;
			stroke-dashoffset: @num;
		}
		100% {
			stroke-dasharray: @num;
			stroke-dashoffset: 0;
		}
	}
}